<div id="composite-template" class="auto-size-block composite-panel <%= @composite.composite_style %> ui-widget ui-helper-clearfix">

  <div class="composite-coverimg put-left auto-size-block">

    <div id="composite-cover" class="is-droppable auto-size-block put-relative">
      <%= photo_tag(@composite.main_photo_id, :main_composite) %>
    </div>

    <div class="composite-template-select auto-size-block">
      <ul class="btn-silver-list">
        <li><a href="javascript:return false;" class="offline">Salvar PDF</a></li>
        <li><%= link_to "Mais Informações", subdomain_model_path(@composite.model.id, subdomain: request.subdomain) %></li>
        
		<% if @total_access %>
        	<li><%= link_to 'Adicionar à Casting', subdomain_castings_add_models_path(models: @composite.model.id, subdomain: request.subdomain), remote: true, via: :get, id: "modal-add-casting" %></li>
        <% else %>
        	<li><a href="javascript:return false;" class="offline">Adicionar à Casting</a></li>
        <% end %>

      </ul>
      
    </div>

  </div>

  <div class="composite-info put-right auto-size-block">

    <div class="composite-header auto-size-block">
      <h3><%= @composite.model.art_name %></h3>
      <ul class="pt-br put-list-inline">
        <li>
          <strong>Alt</strong>:
            <%= @composite.model.height %>
        </li>
        <li>
          	<strong>Nº Sapato:</strong>:
		    <%= @composite.model.shoes_size %>
        </li>
        <li>
          <strong>Manequim</strong>:
            <%= @composite.model.mannequin %>
        </li>
        <li>
          <strong>Olhos</strong>:
            <%= @composite.model.eyes_color %>
        </li>
        <li>
          <strong>Cabelo</strong>:
            <%= @composite.model.hair_color %>
        </li>
      </ul>
      
      <div class="content-split"></div>
      
      <ul class="en-us put-list-inline">
        <li>
          <strong>Height</strong>:
            <%= @composite.model.height %>
        </li>
        <li>
          	<strong>Shoes Size</strong>:
		    <%= @composite.model.shoes_size %>
        </li>
        <li>
          <strong>Mannequin</strong>:
            <%= @composite.model.mannequin %>
        </li>
        <li>
          <strong>Eyes</strong>:
            <%= @composite.model.eyes_color %>
        </li>
        <li>
          <strong>Hair</strong>:
            <%= @composite.model.hair_color %>
        </li>
      </ul>
    </div>

    <div class="composite-thumbs auto-size-block">

      <div id="composite-01" class="is-droppable">
        <%= photo_tag(@composite.first_sub_photo_id, :sub_composite) %>
      </div>
          <div id="composite-02" class="is-droppable">
        <%= photo_tag(@composite.second_sub_photo_id, :sub_composite) %>
      </div>

      <div class="content-split"></div>

          <div id="composite-03" class="is-droppable">
        <%= photo_tag(@composite.third_sub_photo_id, :sub_composite) %>
      </div>
          <div id="composite-04" class="is-droppable">
        <%= photo_tag(@composite.fourth_sub_photo_id, :sub_composite) %>
      </div>

    </div>
    
    <div class="composite-brands">
      <span id="BrandAgendy" class="auto-size-block put-left">
        	<% if !@composite.model.agency.website.logo_url.blank?  %>
				<%= image_tag @composite.model.agency.website.logo_url, {:style => "width:auto; height: 70px;"} %>
			<% else %>
				<% if @composite.model.agency.website.logo.url == "/logos/original/missing.png" %>
					Sua logomarca ficará aqui.
				<% else %>
					<%= image_tag @composite.model.agency.website.logo.url(:logo), {:style => "width:auto; height: 70px;"} %>
				<% end %>
			<% end %>
      </span>
    </div>

  </div>
	
	<%= hidden_field_tag "composite_main_photo_x", @composite.main_photo_x, :class => "comp-photo-x" %>
	<%= hidden_field_tag "composite_main_photo_y", @composite.main_photo_y, :class => "comp-photo-y" %>

	<%= hidden_field_tag "composite_first_sub_photo_x", @composite.first_sub_photo_x, :class => "comp-photo-x" %>
	<%= hidden_field_tag "composite_first_sub_photo_y", @composite.first_sub_photo_y, :class => "comp-photo-y" %>

	<%= hidden_field_tag "composite_second_sub_photo_x", @composite.second_sub_photo_x, :class => "comp-photo-x" %>
	<%= hidden_field_tag "composite_second_sub_photo_y", @composite.second_sub_photo_y, :class => "comp-photo-y" %>

	<%= hidden_field_tag "composite_third_sub_photo_x", @composite.third_sub_photo_x, :class => "comp-photo-x" %>
	<%= hidden_field_tag "composite_third_sub_photo_y", @composite.third_sub_photo_y, :class => "comp-photo-y" %>

	<%= hidden_field_tag "composite_fourth_sub_photo_x", @composite.fourth_sub_photo_x, :class => "comp-photo-x" %>
	<%= hidden_field_tag "composite_fourth_sub_photo_y", @composite.fourth_sub_photo_y, :class => "comp-photo-y" %>
	
</div>