<%= javascript_include_tag "composite-nav" %>
<%= javascript_include_tag "modelblock" %>

<div id="search-paginator" class="auto-size-block paginator">
	
	<ul>
		<li class="put-left itens_per_page">
			Itens por página:&nbsp;&nbsp;
		    <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
		</li>
		<li class="pagination">
			<%= paginate @models %>
		</li>
		<li class="put-right order_column">
			Ordenar por:&nbsp;&nbsp;
		    <%= select_tag :order_column, options_for_select(model_order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
		</li>
	</ul>
	
</div>

<div id="search-models-result" class="auto-size-block">
	
	<% for model in @models %>
	
		<div class="model-box">
			<div class="model-box-img">
				<%= avatar_tag model.avatar, :search %>
			</div>
		</div>
		
	<% end %>

</div>