<%= javascript_include_tag "composite-nav" %>
<%= javascript_include_tag "modelblock" %>

<div id="search-paginator" class="auto-size-block paginator">
	
	<ul>
		<li class="put-left itens_per_page">
			Itens por página:&nbsp;&nbsp;
		    <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
		</li>
		<li class="pagination">
			<%= paginate @models %>
		</li>
		<li class="put-right order_column">
			Ordenar por:&nbsp;&nbsp;
		    <%= select_tag :order_column, options_for_select(model_order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
		</li>
	</ul>
	
</div>

<div id="search-models-result" class="auto-size-block">
	
	<% for model in @models %>
	
		<div class="model-box">
			<div class="model-box-img">
				<div class="model-box-checkbox">
					<%= hidden_field_tag "crop_x", model.crop_x %>
					<%= hidden_field_tag "crop_y", model.crop_y %>
					<%= hidden_field_tag "crop_w", model.crop_w %>
					<%= hidden_field_tag "crop_h", model.crop_h %>
				</div>
				<%= image_tag model.avatar.url %>
			</div>
		</div>
		
	<% end %>

</div>