<div id="website-feature-content" class="website-content-config">
	
	<h4>Modelo Feature:</h4>
	<p>Selecione os modelos que você quer que apareçam na home page de seu übersite. A ordem aparição irá respeitar a ordem com que você escolher os modelos abaixo.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
		
		<!-- LIST MODELS -->
		<div id="feature-models-container">
			
			<% for model in @website.agency.models %>
				
				<div id="model-<%= model.id %>" class="model-feature">
					<div class="model-feature-img">
						<div class="model-feature-checkbox">
							<%= check_box_tag model, model.id, model.feature %>
							<%= hidden_field_tag "crop_x", model.crop_x %>
							<%= hidden_field_tag "crop_y", model.crop_y %>
							<%= hidden_field_tag "crop_w", model.crop_w %>
							<%= hidden_field_tag "crop_h", model.crop_h %>
						</div>
						<div class="model-feature-index">
							<span class="feature-index"><%= model.feature_number %></span>
						</div>
						<%= image_tag model.avatar.url %>
					</div>
				</div>
				
			<% end %>

			<!-- HIDDEN CONTROLLERS -->
			<% for index in (1..(@feat_models.size)) %>
				<%= hidden_field_tag "feature#{index}", @feat_models[index - 1].id, :class => "feature-hidden" %>
			<% end %>
			<% if @feat_models.size < 15 %>
				<% for index in ((@feat_models.size + 1)..15) %>
					<%= hidden_field_tag "feature#{index}", nil, :class => "feature-hidden" %>
				<% end %>
			<% end %>
			
		</div>
		
		<div class="content-split"></div>
		
		<!-- BUTTON CTRLER BAR -->
		<div class="website-content-btns">
			<%= f.submit 'Salvar Configurações', name: 'feature_models', class: 'input-btn-gold-liquid put-right' %>
			<%= link_to "Ver website", subdomain_websites_home_url(subdomain: @agency.website.subdomain, protocol: 'http'), class: 'btn-silver-light-fluid put-right', target: "_blank" %>
			<%= link_to "Voltar ao topo", "#", :class => "btn-silver-light-fluid put-right has-scrollUp scrollTo-0" %>
			<%= link_to "Deselecionar Todos", "#", :class => "btn-silver-light-fluid put-right", :id => "link-feature-deselect" %>
		</div>
	<% end %>
	
</div>
