<div id="website-footer-content" class="website-content-config">
	
	<h4>Rodapé:</h4>
	<p>Edite o conteúdo que irá aparecer no rodapé de todas as páginas de seu site.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
	
	<div id="footer-config">
	<div class='row'>
	    <div class='span12'>
	      <%= f.text_area :footer %>
	    </div>    
	  </div>
	  <div class='row'>
	    <div class='span12'>
	      <%= f.check_box :footer_navigation_itens %>
	      <%= f.label :footer_navigation_itens %>
	    </div>    
	  </div>
	</div>
	
	<div class="content-split"></div>

	  	<div class="website-content-btns">
			<%= f.submit 'Salvar Configurações', class: 'input-btn-gold-liquid put-right' %>
			<%= link_to "Ver website", subdomain_websites_home_url(subdomain: @agency.website.subdomain), class: 'btn-silver-light-fluid put-right', target: "_blank" %>
			<%= link_to "Voltar ao topo", "#", :class => "btn-silver-light-fluid put-right has-scrollUp scrollTo-0" %>
		</div>
	
	<% end %>
	
	
</div>