<div id="website-page-navs-content" class="website-content-config">
	
	<h4>Páginas e Navegação:</h4>
	<p>Selecione as páginas que irão aparecer em seu site. Cada uma delas será exibida na barra principal de navegação e também no rodape.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
		
		<ul id="page-navs-opt" class="put-list-inline">
			<li>
				<%= f.label :home %>
			    <%= f.check_box :home %>
			</li>
			<li>
				<%= f.label :models %>
			    <%= f.check_box :models %>
			</li>
			<li>
				<%= f.label :castings %>
			    <%= f.check_box :castings %>
			</li>
			<li>
				<%= f.label :about %>
			    <%= f.check_box :about %>
			</li>
			<li>
				<%= f.label :contact_us %>
			    <%= f.check_box :contact_us %>
			</li>
			<li>
				<%= f.label :create_account %>
			    <%= f.check_box :create_account %>
			</li>
			<li>
				<%= f.label :my_site %>
			    <%= f.check_box :my_site %>
			</li>
			<li>
				<%= f.label :be_a_model %>
			    <%= f.check_box :be_a_model %>
			</li>
		</ul>
		
		<div class="content-split"></div>
		
		<div id="page-nav-external-site" class="auto-size-block">
			
			<h4>Adicionar endereço de seu site/blog</h4>
			
			<%= f.label :external_site, "Adicione o endereço no campo abaixo:" %>
		    <%= f.text_field :external_site, :class => "input-txt-light-5-columns" %>
		
		</div>
		
		<div class="content-split"></div>

	  	<div class="website-content-btns">
			<%= f.submit 'Salvar Configurações', class: 'input-btn-gold-liquid put-right' %>
			<%= link_to "Ver website", subdomain_websites_home_url(subdomain: @agency.website.subdomain, protocol: 'http'), class: 'btn-silver-light-fluid put-right', target: "_blank" %>
			<%= link_to "Voltar ao topo", "#", :class => "btn-silver-light-fluid put-right has-scrollUp scrollTo-0" %>
		</div>
	
	<% end %>
	
</div>