<div class='row'>
  <div class='span12'>
    <h3>Páginas e Navegação</h3>
  </div>
</div>

<%= form_for @website do |f| %>
  <div class='row'>
    <div class='span1'>
      <%= f.label :home %>
      <%= f.check_box :home %>
    </div>
    <div class='span1'>
      <%= f.label :models %>
      <%= f.check_box :models %>
    </div>
    <div class='span1'>
      <%= f.label :castings %>
      <%= f.check_box :castings %>
    </div>
    <div class='span1'>
      <%= f.label :about %>
      <%= f.check_box :about %>
    </div>
    <div class='span1'>
      <%= f.label :contact_us %>
      <%= f.check_box :contact_us %>
    </div>
    <div class='span2'>
      <%= f.label :create_account %>
      <%= f.check_box :create_account %>
    </div>
    <div class='span2'>
      <%= f.label :my_site %>
      <%= f.check_box :my_site %>
    </div>
    <div class='span2'>
      <%= f.label :be_a_model %>
      <%= f.check_box :be_a_model %>
    </div>
    
  </div>

  <div class='row'>
    <div class='offset8 span2'>
      <%= content_tag :a, 'Ver website', { href: "/#{@website.subdomain}/home", class: 'btn' } %>
    </div>
    <div class='span2'>
      <%= f.submit 'Salvar Configurações', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>