<div id="website-subdomain-content" class="website-content-config">
	
	<h4>Escolha seu Domínio:</h4>
	<p>Este será o caminho pelo qual os clientes poderão acessar o seu Über-site e seus modelos cadastrados.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
	
		<% if @website.agency.account_type != "free" %>
			<div id="website-subdomain-input">
				<%= f.text_field :subdomain, :class => "input-txt-light-4-column" %>
				<span>.ubercasting.com.br</span>
			    <%= link_to 'Verificar', websites_verify_subdomain_path, remote: true, class: 'btn-silver-light-fluid', id: 'verify_subdomain' %>
			</div>
		<% else %>
			<div id="website-subdomain-input">
				<%= f.text_field :subdomain, :class => "input-txt-light-4-column", :disabled => true %>
				<span>.ubercasting.com.br</span>
			</div>
		<% end %>
		
		<div class="content-split"></div>
		
		<div class="website-content-btns">
			<%= f.submit 'Salvar Configurações', class: 'input-btn-gold-liquid put-right' %>
			<%= link_to "Ver website", subdomain_websites_home_url(subdomain: @agency.website.subdomain), class: 'btn-silver-light-fluid put-right', target: "_blank" %>
		</div>
	
	<% end %>
	
	
</div>