<div id="website-theme-content" class="website-content-config">
	
	<h4>Escolha do Tema:</h4>
	<p>Escolha e configure o tema de seu ÜBER Site, selecionando o estilo que melhor combina com a sua agência, ou personalizando todos os itens do seu jeito.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
	
	<div id="website-theme-input">
		<!-- Pensar em como armazenar todos os temas -->
	    
		<ul>
			<li class="theme-active">
				<%= f.radio_button :theme, :subdomain_default %>
			    <%= f.label :theme_subdomain_default, 'Tema Default' %>
			</li>
			<li>
				<%= f.radio_button :theme, :cubical_theme %>
			    <%= f.label :theme_cubical_theme, 'Cubical Theme' %>
			</li>
			<li>
				<%= f.radio_button :theme, :stylish_theme %>
			    <%= f.label :theme_stylish_theme, 'Stylish Theme' %>
			</li>
		</ul>
	</div>
	
	<div id="website-theme-preview">
		<div id="website-theme-preview-thumb">
			<%= image_tag "thumbs/01.jpg" %>
		</div>
	</div>
	
	<div id="website-theme-config" class="offline">
		
		<div id="theme-config-header">
			<ul>
				<li class="active"><a href="javascript: return false;">Default</a></li>
				<li><a href="javascript: return false;">Custom</a></li>
			</ul>
		</div>
		
		<div id="theme-config-body" class="auto-size-block">
			
			<div id="theme-body-part" class="auto-size-block">
				<select name="website-theme-parts" id="website-theme-parts" onchange="" size="1">
					<option value="body">Corpo</option>
					<option value="header">Cabeçalho</option>
					<option value="nav-container">Navegação</option>
					<option value="content-container">Conteúdo</option>
					<option value="footer">Rodapé</option>
				</select>
			</div>
			
			<div id="theme-body-config" class="auto-size-block">
				<ul class="clear-list clear-margin-padding">
					<li class="put-left">
						<label for="website-background-img">Imagem de Fundo</label>
						<input type="text" name="website-background-img" value="website-background-img" id="website-background-img">
					</li>
					<li class="put-right">
						<label for="website-background-color">Cor de Fundo</label>
						<input type="text" name="website-background-color" value="website-background-color" id="website-background-color">
					</li>
					<li class="put-left">
						<label for="font-family">Tipografia</label>
						<input type="text" name="font-family" value="font-family" id="font-family">
					</li>
					<li class="put-right">
						<label for="font-size">Tamanho Tipografia</label>
						<input type="text" name="font-size" value="font-size" id="font-size">
					</li>
					<li class="full-item">
						<label for="color">Cor Tipografia</label>
						<input type="text" name="color" value="color" id="color">
					</li>
				</ul>
			</div>
			
		</div>
		
	</div>
	
	<div class="content-split"></div>
	
	<div class="website-content-btns">
		<%= f.submit 'Salvar Configurações', class: 'input-btn-gold-liquid put-right' %>
		<%= content_tag :a, 'Ver website', { href: "/#{@website.subdomain}/home", class: 'btn-silver-light-fluid put-right' } %>
	</div>
	
	<% end %>
	
</div>
