<div class='row'>
  <div class='span12'>
    <h3>Escolha um Tema:</h3>
  </div>
</div>

<%= form_for @website do |f| %>
  <div class='row'>
    <div class='span12'>
      <!-- Pensar em como armazenar todos os temas -->
      <%= f.radio_button :theme, :subdomain_default %>
      <%= f.label :theme_subdomain_default, 'Padrão' %>
    </div>    
  </div>

  <div class='row'>
    <div class='offset8 span2'>
      <%= content_tag :a, 'Ver website', { href: "/#{@website.subdomain}/home", class: 'btn' } %>
    </div>
    <div class='span2'>
      <%= f.submit 'Salvar Configurações', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>