<div id="website-view-content" class="website-content-config">
	
	<h4>Modo de Visualização:</h4>
	<p>Selecione qual o tipo de visualização de seu site. Note que cada uma apresenta diferentes formas de utilização.</p>
	
	<div class="content-split"></div>
	
	<%= form_for @website do |f| %>
		
		<div id="view-clear" class="auto-size-block website-view-block">
			<%= f.radio_button :visualization_mode, :open %>
			<%= f.label :visualization_mode_open, 'Liberado' %>
			<div class="content-split"></div>
			<p>Nessa opção, qualquer cliente, cadastrado ou não, poderá realizar buscas e visualizar informações de seus modelos cadastrados.</p>
		</div>
		
		<div class="content-split"></div>
		
		<div id="view-partial-restrict" class="auto-size-block website-view-block">
			<%= f.radio_button :visualization_mode, :partially_restricted %>
			<%= f.label :visualization_mode_partially_restricted, 'Parcialmente Restrito' %>
			<div class="content-split"></div>
			<p>Nessa opção, os clientes poderão fazer buscas e visualizar os modelos, porém não terão acesso aos dados completos  cadastrados.</p>
			<p class="tip">* Note que a página "Criar Conta" deve estar ligada para que essa mudança tenha efeito, desta forma os seus clientes solicitarão acesso ao seu sistema.</p>
		</div>
		
		<div class="content-split"></div>
		
		<div id="view-total-restrict" class="auto-size-block website-view-block">
			<%= f.radio_button :visualization_mode, :restricted %>
			<%= f.label :visualization_mode_restricted, 'Totalmente Restrito' %>
			<div class="content-split"></div>
			<p>Nessa opção, os clientes não poderão realizar buscas e visualizar os modelos sem a sua autorização. </p>
			<p class="tip">* Note que a página "Criar Conta" deve estar ligada para que essa mudança tenha efeito, desta forma os seus clientes solicitarão acesso ao seu sistema.</p>
		</div>
		
		<div class="content-split"></div>
		
		<div class="alert-box video-explain">
			<p>Confuso? <a href="#">Assista nosso vídeo</a> e entenda como este mecanismo funciona na prática.</p>
		</div>

		<div class="website-content-btns">
		<%= f.submit 'Salvar Configurações', class: 'input-btn-gold-liquid put-right' %>
		<%= content_tag :a, 'Ver website', { href: "/#{@website.subdomain}/home", class: 'btn-silver-light-fluid put-right', target: "_blank" } %>
		<%= link_to "Voltar ao topo", "#", :class => "btn-silver-light-fluid put-right has-scrollUp scrollTo-0" %>
		</div>

	<% end %>
	
</div>

