<div id="admin-model-manage-container" class="put-center full-column-container">
  
  <div class="auto-size-block admin-panel-header">
    
    <span class="icon-title icon-title-model put-left">&nbsp;</span>
    <h2 class="put-left clear-margin-padding base-title title-manage-website">Gerenciar Website</h2>
    
   </div>
  
  <div class="content-split"></div>
  
  <div id="admin-model-insert-container" class="auto-size-block clear-margin put-relative">
    
    <div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
    
    <div id="admin-model-insert-content" class="admin-container-top admin-container-top-noborder full-column-width">
      <%= render 'subdomain_form' %>
      <%= render 'theme_form' %>
      <%= render 'logo_form' %>
      <%= render 'pages_navs_form' %>
      <%= render 'visualization_form' %>
      <%= render 'footer_form' %>
    </div>
    
  </div>
  
</div>