<div id="website-guide-container" class="put-center full-column-container">
  
	<!-- EXTERNAL HEADER -->
	<div class="auto-size-block admin-panel-header">
		<span class="icon-title icon-title-pencil put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding font-title">Passo-a-<strong>Passo</strong></h2>
	</div>
  
	<div class="content-split"></div>

	<!-- CONTENT CONTAINER -->
	<div id="guide-content-container" class="auto-size-block clear-margin put-relative">

		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>

		<!-- INTERNAL CONTENT -->
		<div id="content" class="full-column-width content-body">

			<!-- STEP LINE GUIDE -->
			<div class="step-by-step step-active-01">
				<div class="steps-line">&nbsp;</div>
				<ul>
					<li class="step-by-step-01">Step 01</li>
					<li class="step-by-step-02">Step 02</li>
					<li class="step-by-step-03">Step 03</li>
					<li class="step-by-step-04">Step 04</li>
					<li class="step-by-step-05">Step 05</li>
				</ul>
			</div>

			<!-- INTERNAL HEADER -->
			<div id="subheader01" class="auto-size-block admin-inner-container subheader" style="display:block">
				<h2 class="font-body-title">Personalização do <strong>Sistema</strong></h2>
				<p class="inner-header-base-text">Na etapa abaixo, você poderá entrar com o domínio personalizado (?) para a sua agência.<% if @website.agency.account_type == "free" %>*<% end %></p>
			</div>
			
			<div id="subheader02" class="auto-size-block admin-inner-container subheader" style="display:none">
				<h2 class="font-body-title">Configuração do <strong>Site</strong></h2>
				<p class="inner-header-base-text">Com as opções abaixo você poderá escolher um tema para o seu ÜBER Site, e personaliza-lo com o estilo que melhor combina com a sua agência.</p>
			</div>
			
			<div id="subheader03" class="auto-size-block admin-inner-container subheader" style="display:none">
				<h2 class="font-body-title">Configuração de <strong>Busca</strong></h2>
				<p class="inner-header-base-text">Selecione qual o tipo de visualização do seu site. Note que cada uma delas pode afetar o desepenho de seu ÜBER Site para com os seus clientes.</p>
			</div>
			
			<div id="subheader04" class="auto-size-block admin-inner-container subheader" style="display:none">
				<h2 class="font-body-title">Inserção de <strong>Modelos</strong></h2>
				<p class="inner-header-base-text">Navegue pelas esferas abaixo para entender melhor como funcionam as etapas de inserção de um novo modelo no sistema.</p>
			</div>
			
			<div id="subheader05" class="auto-size-block admin-inner-container subheader" style="display:none">
				<h2 class="font-body-title">Gerencie seu <strong>Casting</strong></h2>
				<p class="inner-header-base-text">A busca por modelos conta com uma série de filtros que ajudam a tornar o resultado mais preciso e completo. Veja alguns exemplos abaixo de como realizar uma busca, criar castings e muito mais!</p>
			</div>
			
			<div id="subheader06" class="auto-size-block admin-inner-container subheader" style="display:none">
				<h2 class="font-body-title">Fim do <strong>Passo-a-Passo</strong></h2>
				<p class="inner-header-base-text">Parabéns! Você chegou ao fim do passo-a-passo inicial e está pronto para navegar pelo sistema. Veja abaixo quais os próximos passos que você pode tomar a partir de agora.</p>
			</div>

			<div class="content-split"></div>

			<!-- INTERNAL BODY -->
			<div id="body" class="auto-size-block clear-margin">
				
				<%= form_for @website, :remote => true, :url => website_guide_update_path, :method => "get" do |f| %>
					
					<!-- GUIDE STEP 01 - DOMAIN -->
					<div id="guide-step-01" class="auto-size-block guide-steps">
						
						<!-- GUIDE STEP 01 - DOMAIN -->
						<div id="guide-domain" class="auto-size-block put-left">
							
							<h4 class="guide-title">Escolha seu Domínio:</h4>
							<p>Este será o caminho pelo qual os clientes poderão acessar o seu Über-site e seus modelos cadastrados.</p>
							<%= hidden_field_tag @website.agency.account_type, @website.agency.account_type, :class => "agency-account-type" %>
							
							<div class="content-split"></div>

							<% if @website.agency.account_type != "free" %>
								<div id="website-subdomain-input">
									<%= f.text_field :subdomain, :class => "input-txt-light-4-column put-left" %>
									<span class="auto-size-block put-left">.ubercasting.com.br</span>
								    <%= link_to 'Verificar', websites_verify_subdomain_path, remote: true, class: 'btn-silver-light-fluid put-right', id: 'verify_subdomain' %>
								</div>
							<% else %>
								<div id="website-subdomain-input">
									<%= f.text_field :subdomain, :class => "input-txt-light-4-column put-left", :disabled => true %>
									<span class="auto-size-block put-left">.ubercasting.com.br</span>
									<%= hidden_field_tag @website.agency.name, @website.agency.name, :class => "agency-account-name" %>
									<%= f.hidden_field :subdomain %>
								</div>
									
									<div class="content-split"></div>
									<span class="tip">
										<br />* O plano free não disponibiliza um domínio customizado, então o sistema irá gerar um automaticamente.</span>
									
							<% end %>

						</div>
						
					</div>
				
					<!-- GUIDE STEP 02 - THEME -->
					<div id="guide-step-02" class="auto-size-block guide-steps" style="display:none">
						<h4 class="guide-title">Escolha do Tema:</h4>
						<p>Utilize as opções abaixo:</p>
						<div class="content-split"></div>
						
						<div id="website-theme-input">
							<ul>
								<% @themes.each do |theme| %>
									<li>
										<%= f.radio_button :theme, theme.name %>
									    <%= f.label :"theme_#{theme.name}", theme.translated_name %>
									</li>
								<% end %>
							</ul>
						</div>

						<div id="website-theme-preview">
							<div id="website-theme-preview-thumb">
								<%= image_tag "thumbs/01.jpg" %>
							</div>
						</div>
					</div>
					
					<!-- GUIDE STEP 03 - VISUALIZATION -->
					<div id="guide-step-03" class="auto-size-block guide-steps" style="display:none">
						<h4 class="guide-title">Modo de Visualização:</h4>

						<div class="content-split"></div>
						
						<div id="view-clear" class="auto-size-block website-view-block">
							<%= f.radio_button :visualization_mode, :open %>
							<%= f.label :visualization_mode_open, 'Liberado' %>
							<div class="content-split"></div>
							<p>Nessa opção, qualquer cliente, cadastrado ou não, poderá realizar buscas e visualizar informações de seus modelos cadastrados.</p>
						</div>

						<div class="content-split"></div>

						<div id="view-partial-restrict" class="auto-size-block website-view-block">
							<%= f.radio_button :visualization_mode, :partially_restricted %>
							<%= f.label :visualization_mode_partially_restricted, 'Parcialmente Restrito' %>
							<div class="content-split"></div>
							<p>Nessa opção, os clientes poderão fazer buscas e visualizar os modelos, porém não terão acesso aos dados completos  cadastrados.</p>
							<p class="tip">* Note que a página "Criar Conta" deve estar ligada para que essa mudança tenha efeito, desta forma os seus clientes solicitarão acesso ao seu sistema.</p>
						</div>

						<div class="content-split"></div>

						<div id="view-total-restrict" class="auto-size-block website-view-block">
							<%= f.radio_button :visualization_mode, :restricted %>
							<%= f.label :visualization_mode_restricted, 'Totalmente Restrito' %>
							<div class="content-split"></div>
							<p>Nessa opção, os clientes não poderão realizar buscas e visualizar os modelos sem a sua autorização. </p>
							<p class="tip">* Note que a página "Criar Conta" deve estar ligada para que essa mudança tenha efeito, desta forma os seus clientes solicitarão acesso ao seu sistema.</p>
						</div>

						<div class="content-split"></div>

						<div class="alert-box video-explain">
							<p>Confuso? <a href="/tour#display_share" target="_blank">Assista nosso vídeo</a> e entenda como este mecanismo funciona na prática.</p>
						</div>
					</div>
					
					<!-- GUIDE STEP 04 - INSERT MODEL -->
					<div id="guide-step-04" class="auto-size-block guide-steps" style="display:none">
						
						<div id="circle-step-01" class="auto-size-block circle-step">
							<%= image_tag "admin/img-guide-step-01.png", :class => "auto-size-block put-left" %>
							
							<div class="auto-size-block put-left circle-step-content">
								<h2 class="font-body-title">1. Informações <strong>Básicas</strong></h2>
								<p>Os campos desta primeira etapa, em sua maioria, são de preenchimento obrigatório, pois são informações essênciais para o cadastro do modelos, como nome, data de nascimento, e outros.</p>
							</div>
						</div>
						
						<div id="circle-step-02" class="auto-size-block circle-step">
							
							<%= image_tag "admin/img-guide-step-02.png", :class => "auto-size-block put-right" %>
							
							<div class="auto-size-block put-right circle-step-content">
								<h2 class="font-body-title">2. Atributos e <strong>Especialidades</strong></h2>
								<p>Na segunda etapa do cadastro, é necessário informar atributos físicos do modelo, como alturae peso. Os campos não são obrigatórios, mas podem influenciar o resultado das buscas.</p>
							</div>
							
						</div>
						
						<div id="circle-step-03" class="auto-size-block circle-step">
							<%= image_tag "admin/img-guide-step-03.png", :class => "auto-size-block put-left" %>
							
							<div class="auto-size-block put-left circle-step-content">
								<h2 class="font-body-title">3. Dados <strong>Gerais</strong></h2>
								<p>Os campos presentes neste terceiro passo são informações extras, que podem facilitar na gestão de seus modelos. Os campos não são obrigatórios.</p>
							</div>
							
						</div>
						
						<div id="circle-step-04" class="auto-size-block circle-step">
							
							<%= image_tag "admin/img-guide-step-04.png", :class => "auto-size-block put-right" %>
							
							<div class="auto-size-block put-right circle-step-content">
								<h2 class="font-body-title">4. Upload de <strong>Imagens</strong></h2>
								<p>Hora de criar a galeria de seu modelo. Faça o upload das imagens da galeria do modelo que está sendo cadastrado. Escolha as melhores, elas serão importantes para fechar o ciclo de cadastro.</p>
							</div>
							
						</div>
						
						<div id="circle-step-05" class="auto-size-block circle-step">
							<%= image_tag "admin/img-guide-step-05.png", :class => "auto-size-block put-left" %>
							
							<div class="auto-size-block put-left circle-step-content">
								<h2 class="font-body-title">5. Seleção de <strong>Composite</strong></h2>
								<p>Por fim, com as fotos do modelo que você acabou de inserir no sistema, monte seu composite personalizado e escolha uma das fotos para ser aplicada como foto de perfil.</p>
							</div>
							
						</div>
					
					</div>
					
					<!-- GUIDE STEP 05 - SEARCH & CASTING -->
					<div id="guide-step-05" class="auto-size-block guide-steps" style="display:none">
						
						<div id="circle-step-05-01" class="auto-size-block circle-step">
							<%= image_tag "admin/img-guide-search.png", :class => "auto-size-block put-left" %>
							
							<div class="auto-size-block put-left circle-step-content">
								<h2 class="font-body-title">1. Busque <strong>Modelos</strong></h2>
								<p>A busca de modelos possui filtros específicos que a tornam mais completa e precisa. Configure suas buscas utilizando filtros como:<br />Sexo - Idade - Manequim - Cor dos Olhos - Cor do Cabelo, e opções avançadas.</p>
							</div>
							
						</div>
						
						<div id="circle-step-05-02" class="auto-size-block circle-step">
							
							<%= image_tag "admin/img-guide-group.png", :class => "auto-size-block put-right" %>
							
							<div class="auto-size-block put-right circle-step-content">
								<h2 class="font-body-title">2. Monte <strong>Castings</strong></h2>
								<p>A partir do resultado das buscas, você poder selecionar os modelos desejados (ou todos eles) e adicioná-los a um novo casting ou a um casting já existente.</p>
							</div>
							
						</div>
						
						<div id="circle-step-05-03" class="auto-size-block circle-step">
							<%= image_tag "admin/img-guide-cloud.png", :class => "auto-size-block put-left" %>
							
							<div class="auto-size-block put-left circle-step-content">
								<h2 class="font-body-title">3. Compartilhe o <strong>Resultado</strong></h2>
								<p>Além de criar e armazenar CASTINGS, você também pode compartilhá-los facilmente com a sua base de clientes, tudo através de uma interface amigável e fácil de usar.</p>
							</div>
							
						</div>
						
						
					</div>
					
					<!-- GUIDE STEP 06 - SUMMARY -->
					<div id="guide-step-06" class="auto-size-block guide-steps" style="display:none">
						
						<div class="summary-block">
							<h4 class="guide-title">1. ÜBER Site - Configurações Avançadas</h4>
							<p>Aqui você terá acesso a todas as configurações de seu ÜBER Site, como fazer o upload de sua logomarca, definir quais páginas farão parte do menu, entre outros itens.</p>

							<div class="website-content-btns">
								<%= link_to "Configurações Avançadas", edit_website_path(@website), :class => "anchor-btn-silver-light-4-column put-right" %>
							</div>
						</div>
						
						<div class="summary-block">
							<h4 class="guide-title">2. Inserção de Modelos</h4>
							<p>Alimente a sua base cadastrando os modelos de sua agência, adicionando informações que irão facilitar sua busca, além de fazer um upload de fotos para sua galeria, escolher foto de perfil e montar seu composite.</p>

							<div class="website-content-btns">
								<%= link_to "Inserir Modelos", new_model_path, :class => "anchor-btn-silver-light-4-column put-right" %>
							</div>
						</div>
						
						<div class="summary-block">
							<h4 class="guide-title">3. Painel de Controle</h4>
							<p>Vá para o seu Painel de Controle e descubra todas as ações que você pode aplicar em sua conta.</p>

							<div class="website-content-btns">
								<%= link_to "Acessar Painel de Controle", agency_root_path, :class => "anchor-btn-silver-light-4-column put-right" %>
							</div>
						</div>
						
						<div class="summary-block">
							<h4 class="guide-title">Ajuda e Suporte</h4>
							<p>Caso você tenha dúvidas ou precise de suporte na utilização das ferramentas de nossos sistema, fique a vontade para entrar em contato conosco através dos e-mails:</p>

							<ul>
								<li><a href="mailto:contato@ubercasting.com?subject=[UBER] - Contato - Fim Guia">ÜBER - Contato</a></li>
								<li><a href="mailto:contato@ubercasting.com?subject=[UBER] - Ajuda - Fim Guia">ÜBER - Ajuda</a></li>
								<li><a href="mailto:contato@ubercasting.com?subject=[UBER] - Suporte - Fim Guia">ÜBER - Suporte</a></li>
							</ul>
							
						</div>

						
					</div>
					
					<!-- INTERNAL BUTTON BAR -->
					<div class="auto-size-block bottom-ctrl-bar">
						<a id="guide-btn-back" href="#" class="put-left anchor-btn-silver-light-4-column">Voltar</a>
						<a id="guide-btn-go" class="put-right anchor-btn-gold-light-4-column" href="#">Continuar</a>
						<%= f.submit 'Finalizar', class: 'input-btn-gold-light-4-column put-right', :id => "guide-btn-save" %>
						<span class="gif-loader put-right"><%= image_tag "admin/ajax-loader.gif" %></span>
					</div>
				
				<% end %>
				
			</div>

		</div>

	</div>
  
</div>