<div id="customer-request-form">
	
	<p class="lead">Pedido de Cadastro</p>
	<p class="default">Para ter acesso aos conteúdos exclusivos do site, você deve fazer um pedido de cadastro preenchendo o formulário abaixo.</p>
	
	<%= simple_form_for @request, url: subdomain_customer_requests_path(subdomain: request.subdomain) do |f| %>
		
		<div class="request-input-field put-left">
			<%= f.input :name, class: 'input-txt-light-8-columns' %>
		</div>
		<div class="request-input-field put-left">
			<%= f.input :email, class: 'input-txt-light-8-columns' %>
		</div>
		
		<div class="content-split"></div>
		
		<div class="request-input-field put-left">
			<%= f.input :phone, class: 'input-txt-light-8-columns' %>
		</div>
		<div class="request-input-field put-left">
			<%= f.input :company, class: 'input-txt-light-8-columns' %>
		</div>
		
		<div class="content-split"></div>
		
		<div class="request-textarea">
			<%= f.input :message, class: 'input-txt-light-8-columns' %>
		</div>
		<div id="request-form-button-set" class="auto-size-block">
			<%= f.submit 'Enviar Pedido', class: 'btn-enviar' %>
		</div>

	<% end %>
	
</div>