<div class="row">
  <div class="itens_per_page span3">
    <p>
      Itens por página:
      <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
    </p>
  </div>
  <div class="span6">
    <%= paginate @models %>
  </div>
  <div class="order_column span3">
    <p>
      Ordenar por:
      <%= select_tag :order_column, options_for_select(order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
    </p>
  </div>
</div>

<div class="row">
  <% for model in @models %>
    <div class="span3">
      <h4><%= link_to model.name, model_path(model) %></h4>
      <% if model.avatar %>
        <%= image_tag model.avatar.image.url(:thumb), class: 'rounded' %>
      <% else %>
        <%= image_tag 'avatar.png', class: 'rounded' %>
      <% end %>
      <%= link_to 'Editar Modelo', edit_model_path(model), class: 'btn btn-block' %>
      <%= link_to 'Upload Fotos', new_model_photo_path(model, {source: 'edit'}), class: 'btn btn-block' %>
      <% if model.composite %>
        <%= link_to 'Editar Composite', edit_model_composite_path(model, model.composite), class: 'btn btn-block' %>
        <%= link_to 'Visualizar Composite', model_composite_path(model, model.composite), class: 'btn btn-block' %>
      <% else %>
        <%= link_to 'Criar Composite', new_model_composite_path(model), class: 'btn btn-block' %>
      <% end %>
      <%= link_to 'Deletar Modelo', model_path(model), method: :delete, class: 'btn btn-block' %>
      <a href="#" class='btn btn-block'>Adicionar à casting</a>
    </div>
  <% end %>
</div>