<div id="search-paginator" class="auto-size-block paginator">
	
	<ul>
		<li class="put-left">
			Itens por página:&nbsp;&nbsp;
		    <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
		</li>
		<li>
			<%= paginate @models %>
		</li>
		<li class="put-right">
			Ordenar por:&nbsp;&nbsp;
		    <%= select_tag :order_column, options_for_select(model_order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
		</li>
	</ul>
	
</div>

<div id="search-casting-actions" class="auto-size-block actions-tab">
	
	<ul>
		<li>
			<span>Casting:</span>
			<%= link_to "Adicionar Selecionados", models_path %>
		</li>
		<li>
			<%= link_to "Adicionar Todos", models_path %>
		</li>
		<li>
			<%= link_to "Visualizar Castings", castings_path %>
		</li>
	</ul>
	
</div>

<div id="models-result" class="auto-size-block">
	
	<% for model in @models %>
	
		<div class="model-box">
			<div class="model-box-img">
				<%= check_box_tag, :class => "model-box-check" %>
				<% if model.avatar %>
			        <%= image_tag model.avatar.image.url(:thumb), class: 'rounded' %>
			      <% else %>
			        <%= image_tag 'avatar.png', class: 'rounded' %>
			      <% end %>
			</div>
			<div class="model-box-links">
				<ul>
					<li><%= link_to 'Editar Modelo', edit_model_path(model), class: 'btn btn-block' %></li>
					<li><%= link_to 'Upload Fotos', new_model_photo_path(model, {source: 'edit'}), class: 'btn btn-block' %></li>
					<% if model.composite %>
					<li><%= link_to 'Editar Composite', edit_model_composite_path(model, model.composite), class: 'btn btn-block' %></li>
					<li><%= link_to 'Visualizar Composite', model_composite_path(model, model.composite), class: 'btn btn-block' %></li>
					<% else %>  
					<li><%= link_to 'Criar Composite', new_model_composite_path(model), class: 'btn btn-block' %></li>
					<% end %>
					<li><%= link_to 'Deletar Modelo', model_path(model), method: :delete, class: 'btn btn-block' %></li>
					<li><a href="#" class='btn btn-block'>Adicionar à casting</a></li>
				</ul>
			</div>
		</div>
	
	    <div class="span3">
	      <h4><%= link_to model.name, model_path(model) %></h4>
	      <% if model.avatar %>
	        <%= image_tag model.avatar.image.url(:thumb), class: 'rounded' %>
	      <% else %>
	        <%= image_tag 'avatar.png', class: 'rounded' %>
	      <% end %>
	      <%= link_to 'Editar Modelo', edit_model_path(model), class: 'btn btn-block' %>
	      <%= link_to 'Upload Fotos', new_model_photo_path(model, {source: 'edit'}), class: 'btn btn-block' %>
	      <% if model.composite %>
	        <%= link_to 'Editar Composite', edit_model_composite_path(model, model.composite), class: 'btn btn-block' %>
	        <%= link_to 'Visualizar Composite', model_composite_path(model, model.composite), class: 'btn btn-block' %>
	      <% else %>
	        <%= link_to 'Criar Composite', new_model_composite_path(model), class: 'btn btn-block' %>
	      <% end %>
	      <%= link_to 'Deletar Modelo', model_path(model), method: :delete, class: 'btn btn-block' %>
	      <a href="#" class='btn btn-block'>Adicionar à casting</a>
	    </div>
	  <% end %>
	
</div>