<div class="page-header">
  <h1>Adicionar Novo Modelo <small> oi eu sou legal :D</small></h1>
</div>

<%= simple_form_for @model do |f| %>

  <%= render "models/steps/hidden_fields", { f: f, current_step: @model.current_step} %>

  <%= render "models/steps/#{@model.current_step}_step", f: f %>

  <div class="row">
    <div class="span2">
      <%= f.submit "Voltar", class: 'btn btn-small', :name => "back_button" unless @model.first_step? %>
    </div>
    <div class="offset8 span2">
      <%= f.submit "Continuar", class: 'btn btn-large btn-primary' %>
    </div>
    
  </div>
<% end %>