<div id="model-information" class="full-column-container put-center">
	
	<div id="main-header" class="auto-size-block admin-panel-header">
		
		<span class="icon-title icon-title-model put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding base-title title-manage-models">Gerenciar Modelos</h2>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="model-info-content" class="auto-size-block clear-margin put-relative">
		
		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
		
		<div id="content" class="full-column-width content-body">
			
			<div id="subheader" class="auto-size-block admin-inner-container">
				
				<h3 class="put-left header-base-title-text"><%= @model.name %></h3>
				<%= link_to 'Editar', edit_model_path(@model), :class => "put-right anchor-btn-silver-light-normal header-button" %>
				
			</div>
			
			<div class="content-split"></div>
			
			<div id="body" class="auto-size-block clear-margin">
				
				<div id="model-primary-info" class="auto-size-block full-column-width admin-inner-container body-content-padding">
					
					<div id="model-profile-img" class="auto-size-block put-left">
						<%= image_tag @model.avatar.url %>
					</div>
					
					<div id="model-primary-info-content" class="put-left-margin">
						<ul class="auto-size-block put-left">
							<li class="first">
								<strong><%= Model.human_attribute_name(:name) %></strong>:
							    <%= @model.name %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:art_name) %></strong>:
							    <%= @model.art_name %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:birthday) %>:</strong>
							    <%= l @model.birthday %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:gender) %>:</strong>
							    <%= t @model.gender, scope: :genders %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:biotype) %>:</strong>
							    <%= t @model.biotype, scope: :biotypes %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:personal_phone) %>:</strong>
							    <%= @model.personal_phone %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:personal_email) %>:</strong>
							    <%= @model.personal_email %>
							</li>
							<li>
								<a id="btn-model-show-data" href="#" onclick="javascript:return false;" class="anchor-btn-silver-light-normal">Ver todos os dados »</a>
							</li>
						</ul>
						
						<ul class="auto-size-block put-left-margin">
							<li class="first">
								<strong><%= Model.human_attribute_name(:height) %>:</strong>
							    <%= @model.height %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:eyes_color) %>:</strong>
							    <%= @model.eyes_color %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:hair_color) %>:</strong>
							    <%= @model.hair_color %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:bust) %>:</strong>
							    <%= @model.bust %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:waist) %>:</strong>
							    <%= @model.waist %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:hip) %>:</strong>
							    <%= @model.hip %>
							</li>
						</ul>
					</div>
					
				</div>
				
				<div class="content-split"></div>
				
				<div id="model-secondary-info" class="auto-size-block body-content-padding admin-inner-container">
					<ul class="auto-size-block put-left">
						<li>
							<strong><%= Model.human_attribute_name(:shoes_size) %>:</strong>
						    <%= @model.shoes_size %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:rg) %>:</strong>
						    <%= @model.rg %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:cpf) %>:</strong>
						    <%= @model.cpf %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:secondary_phone) %>:</strong>
						    <%= @model.secondary_phone %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:job_phone) %>:</strong>
						    <%= @model.job_phone %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:address) %>:</strong>
						    <%= @model.address %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:address_number) %>:</strong>
						    <%= @model.address_number %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:neighborhood) %>:</strong>
						    <%= @model.neighborhood %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:complement) %>:</strong>
						    <%= @model.complement %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:cep) %>:</strong>
						    <%= @model.cep %>
						</li>
						<li>
							<a id="btn-model-hide-data" href="#" onclick="javascript:return false;" class="anchor-btn-silver-light-normal">Esconder »</a>
						</li>
					</ul>
					
					<ul class="auto-size-block put-left-margin">
						<li>
							<strong><%= Model.human_attribute_name(:city) %>:</strong>
						    <%= @model.city %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:state) %>:</strong>
						    <%= t @model.state, scope: :states unless @model.state.nil? || @model.state.blank? %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:country) %>:</strong>
						    <%= @model.country %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank) %>:</strong>
						    <%= @model.bank %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_agency) %>:</strong>
						    <%= @model.bank_agency %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_account) %>:</strong>
						    <%= @model.bank_account %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_account_type) %>:</strong>
						    <%= @model.bank_account_type %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:job_email) %>:</strong>
						    <%= @model.job_email %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:secondary_email) %>:</strong>
						    <%= @model.secondary_email %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:site_url) %>:</strong>
						    <%= @model.site_url %>
						</li>
					</ul>
				</div>
				
				<div class="content-split"></div>
				
				<% if @model.composite %>
					
					<div id="model-info-composite" class="auto-size-block admin-inner-container">
					
						<div class="model-show-inner-header">

							<h3 class="put-left">Composite</h3>

							<%= link_to 'Editar Composite', edit_model_composite_path(@model,@model.composite), :class => "put-right anchor-btn-silver-light-normal" %>

						</div>
						
						<div id="composite-template" class="auto-size-block composite-panel <%= @model.composite.composite_style %> ui-widget ui-helper-clearfix">

							<div class="composite-coverimg put-left auto-size-block">

								<div id="composite-cover" class="is-droppable auto-size-block put-relative">
									<%= photo_tag(@model.composite.main_photo_id, :main_composite) %>
								</div>

								<div class="composite-template-select auto-size-block"></div>

							</div>

							<div class="composite-info put-right auto-size-block">

								<div class="composite-header auto-size-block">
									<h3><%= @model.name %></h3>
									<ul class="pt-br put-list-inline">
										<li>
											<strong>Alt</strong>:
										    <%= @model.height %>
										</li>
										<li>
											<strong>Peso</strong>:
										    <%= @model.weight %>
										</li>
										<li>
											<strong>Manequim</strong>:
										    <%= @model.mannequin %>
										</li>
										<li>
											<strong>Olhos</strong>:
										    <%= @model.eyes_color %>
										</li>
										<li>
											<strong>Cabelo</strong>:
										    <%= @model.hair_color %>
										</li>
									</ul>

									<div class="content-split"></div>

									<ul class="en-us put-list-inline">
										<li>
											<strong>Height</strong>:
										    <%= @model.height %>
										</li>
										<li>
											<strong>Weight</strong>:
										    <%= @model.weight %>
										</li>
										<li>
											<strong>Mannequin</strong>:
										    <%= @model.mannequin %>
										</li>
										<li>
											<strong>Eyes</strong>:
										    <%= @model.eyes_color %>
										</li>
										<li>
											<strong>Hair</strong>:
										    <%= @model.hair_color %>
										</li>
									</ul>
								</div>

								<div class="composite-thumbs auto-size-block">

									<div id="composite-01" class="is-droppable">
										<%= photo_tag(@model.composite.first_sub_photo_id, :sub_composite) %>
									</div>
							        <div id="composite-02" class="is-droppable">
										<%= photo_tag(@model.composite.second_sub_photo_id, :sub_composite) %>
									</div>

									<div class="content-split"></div>

							        <div id="composite-03" class="is-droppable">
										<%= photo_tag(@model.composite.third_sub_photo_id, :sub_composite) %>
									</div>
							        <div id="composite-04" class="is-droppable">
										<%= photo_tag(@model.composite.fourth_sub_photo_id, :sub_composite) %>
									</div>

								</div>

								<div class="composite-brands">
									<span id="BrandAgendy" class="auto-size-block put-left">
										<% if @model.agency.website.logo_url == ""  %>

											<% if @model.agency.website.logo.url == "/logos/original/missing.png" %>
												Sua logomarca ficará aqui.
											<% else %>
												<%= image_tag @model.agency.website.logo.url(:logo), {:style => "width:auto; height: 70px;"} %>
											<% end %>

										<% else %>

											<%= image_tag @model.agency.website.logo_url, {:style => "width:auto; height: 70px;"} %>

										<% end %>
									</span>
								</div>

							</div>
							
						</div>
					
					</div>
					
					<div class="content-split"></div>
					
				<% end %>
				
				<div id="model-photo-gallery" class="auto-size-block">
					
					<div class="model-show-inner-header">
					
						<h3 class="put-left">Galeria de Fotos</h3>

						<%= link_to 'Editar Fotos', new_model_photo_path(@model, {source: 'edit'}), :class => "put-right anchor-btn-silver-light-normal" %>
					
					</div>
					
					<div class="content-split"></div>
					
					<ul id="model-gallery" class="gallery ui-helper-reset ui-helper-clearfix">

				      <% for photo in @model.photos.each %>
						<li class="is-draggable ui-widget-content ui-corner-tr">
				          <%= image_tag photo.image.url(:sub_composite), alt: photo.image_file_name, id: photo.id %>
				        </li>
				      <% end %>

				    </ul>
					
				</div>
				
				<div class="content-split"></div>
				
				<% if @model.video %>
				
					<div id="model-video-gallery" class="auto-size-block">
					
						<div class="model-show-inner-header">
					
							<h3 class="put-left">YouTube Video</h3>

							<%= link_to 'Editar Vídeo', new_model_photo_path(@model, {source: 'edit'}), :class => "put-right anchor-btn-silver-light-normal" %>
					
						</div>
				
						<div class="content-split"></div>
						
						<div id="video-box">
							<iframe width="560" height="315" src="<%= @model.video %>" frameborder="0" allowfullscreen></iframe>
						</div>
					
					</div>
				
				<% end %>
				
				<div class="content-split"></div>
				
				<div class="auto-size-block bottom-ctrl-bar">
					
					<%= link_to 'Voltar', models_path, :class => "put-left anchor-btn-silver-light-4-column" %>
					<%= link_to 'Editar', edit_model_path(@model), :class => "put-right anchor-btn-gold-light-4-column" %>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>
