<div id="model-information" class="full-column-container put-center">
	
	<div id="main-header" class="auto-size-block admin-panel-header">
		
		<span class="icon-title icon-title-model put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding base-title title-manage-models">Gerenciar Modelos</h2>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="model-info-content" class="auto-size-block clear-margin put-relative">
		
		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
		
		<div id="content" class="full-column-width content-body">
			
			<div id="subheader" class="auto-size-block admin-inner-container">
				
				<h3 class="put-left header-base-title-text"><%= @model.name %></h3>
				
			</div>
			
			<div class="content-split"></div>
			
			<div id="body" class="auto-size-block clear-margin">
				
				<div id="model-primary-info" class="auto-size-block full-column-width admin-inner-container body-content-padding">
					
					<div id="model-profile-img" class="auto-size-block put-left">
						<%= avatar_tag @model.avatar %>
					</div>
					
					<div id="model-primary-info-content" class="put-left-margin">
						<ul class="auto-size-block put-left">
							<li class="first">
								<strong><%= Model.human_attribute_name(:name) %></strong>:
							    <%= @model.name %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:birthday) %>:</strong>
							    <%= l @model.birthday %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:gender) %>:</strong>
							    <%= t @model.gender, scope: :genders %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:biotype) %>:</strong>
							    <%= t @model.biotype, scope: :biotypes %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:personal_phone) %>:</strong>
							    <%= @model.personal_phone %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:personal_email) %>:</strong>
							    <%= @model.personal_email %>
							</li>
							<li>
								<a id="btn-model-show-data" href="#" onclick="javascript:return false;" class="anchor-btn-silver-light-normal">Ver todos os dados »</a>
							</li>
						</ul>
						
						<ul class="auto-size-block put-left-margin">
							<li class="first">
								<strong><%= Model.human_attribute_name(:height) %>:</strong>
							    <%= @model.height %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:eyes_color) %>:</strong>
							    <%= @model.eyes_color %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:hair_color) %>:</strong>
							    <%= @model.hair_color %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:bust) %>:</strong>
							    <%= @model.bust %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:waist) %>:</strong>
							    <%= @model.waist %>
							</li>
							<li>
								<strong><%= Model.human_attribute_name(:hip) %>:</strong>
							    <%= @model.hip %>
							</li>
						</ul>
					</div>
					
				</div>
				
				<div class="content-split"></div>
				
				<div id="model-secondary-info" class="body-content-padding">
					<ul class="auto-size-block put-left">
						<li>
							<strong><%= Model.human_attribute_name(:shoes_size) %>:</strong>
						    <%= @model.shoes_size %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:rg) %>:</strong>
						    <%= @model.rg %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:cpf) %>:</strong>
						    <%= @model.cpf %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:secondary_phone) %>:</strong>
						    <%= @model.secondary_phone %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:job_phone) %>:</strong>
						    <%= @model.job_phone %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:address) %>:</strong>
						    <%= @model.address %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:address_number) %>:</strong>
						    <%= @model.address_number %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:neighborhood) %>:</strong>
						    <%= @model.neighborhood %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:complement) %>:</strong>
						    <%= @model.complement %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:cep) %>:</strong>
						    <%= @model.cep %>
						</li>
						<li>
							<a id="btn-model-hide-data" href="#" onclick="javascript:return false;" class="anchor-btn-silver-light-normal">Esconder »</a>
						</li>
					</ul>
					
					<ul class="auto-size-block put-left-margin">
						<li>
							<strong><%= Model.human_attribute_name(:city) %>:</strong>
						    <%= @model.city %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:state) %>:</strong>
						    <%= t @model.state, scope: :states unless @model.state.nil? || @model.state.blank? %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:country) %>:</strong>
						    <%= @model.country %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank) %>:</strong>
						    <%= @model.bank %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_agency) %>:</strong>
						    <%= @model.bank_agency %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_account) %>:</strong>
						    <%= @model.bank_account %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:bank_account_type) %>:</strong>
						    <%= @model.bank_account_type %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:job_email) %>:</strong>
						    <%= @model.job_email %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:secondary_email) %>:</strong>
						    <%= @model.secondary_email %>
						</li>
						<li>
							<strong><%= Model.human_attribute_name(:site_url) %>:</strong>
						    <%= @model.site_url %>
						</li>
					</ul>
				</div>
				
				<div class="content-split"></div>
				
				<div class="auto-size-block bottom-ctrl-bar">
					
					<%= link_to 'Voltar', models_path, :class => "put-left anchor-btn-silver-light-4-column" %>
					<%= link_to 'Editar', edit_model_path(@model), :class => "put-right anchor-btn-gold-light-4-column" %>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>
