<div id="search-paginator" class="auto-size-block paginator">
	
	<ul>
		<li class="put-left itens_per_page">
			Itens por página:
		    <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
		</li>
		<li class="pagination">
			<%= paginate @casting_models %>
		    <%= hidden_field_tag :page, params[:page] %>
		</li>
		<li class="put-right order_column">
			Ordenar por:
		    <%= select_tag :order_column, options_for_select(model_casting_order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
		</li>
	</ul>
	
</div>

<div id="search-casting-actions" class="auto-size-block actions-tab">
	
	<ul>
		<li>
			<span>Casting:</span>
			<%= link_to "Remover Selecionados", subdomain_casting_remove_models_path(params[:subdomain], @casting.id), id: :remove_selected %>
		</li>
		<li>
			<%= link_to "Selecionar Todos", "#", :id => "models-mark-all" %>
		</li>
		<li>
			<%= link_to "Remover Todos", subdomain_casting_remove_models_path(params[:subdomain], @casting.id, {model_castings: @casting_models_ids}), remote: true, id: :add_all_models %>
		</li>
		<li>
			<%= link_to "Visualizar Castings", subdomain_castings_path %>
		</li>
	</ul>
	
</div>