<div class="step-by-step step-active-02">
	<div class="steps-line">&nbsp;</div>
	<ul>
		<li class="step-by-step-01">Step 01</li>
		<li class="step-by-step-02">Step 02</li>
		<li class="step-by-step-03">Step 03</li>
		<li class="step-by-step-04">Step 04</li>
		<li class="step-by-step-05">Step 05</li>
	</ul>
</div>

<div class="auto-size-block admin-inner-container">
	
	<!--<h3>Etapa 01 de 05</h3>-->

	<h3 class="header-base-title header-title-special-attr">Atributos e Especialidades</h3>
	<p class="base-text">Na segunda etapa do cadastro, é necessário informar atributos físicos do modelo, como altura e peso. Os campos não são obrigatórios, mas o não preenchimento prejudicará o resultado das buscas.</p>
	
</div>

<div class="content-split"></div>

<div class="put-left form-block-2-columns">
	<%= f.input :height, as: :string %>
	<span class="tip">Ex.: 1.60</span>
</div>

<div class="put-left form-block-2-columns">
	<%= f.input :weight, as: :string %>
	<span class="tip">Só números.</span>
</div>

<div class="put-left form-block-2-columns">
	<%= f.input :bust, as: :string %>
	<span class="tip">Ex.: 80</span>
</div>

<div class="put-left form-block-2-columns">
	<%= f.input :waist, as: :string %>
	<span class="tip">Ex.: 67</span>
</div>

<div class="put-left form-block-2-columns">
	<%= f.input :hip, as: :string %>
	<span class="tip">Ex.: 90</span>
</div>

<div class="put-left form-block-2-columns">
	<%= f.input :mannequin, as: :string %>
	<span class="tip">Só números.</span>
</div>

<div class="content-split"></div>

<div class="put-left form-block-4-columns">
	<%= f.input :eyes_color, collection: eyes_color, input_html: { class: 'full-select' } %>
</div>

<div class="put-left form-block-4-columns">
	<%= f.input :hair_color, collection: hair_color, input_html: { class: 'full-select' } %>
</div>

<div class="put-left form-block-4-columns">
	<%= f.input :shoes_size, collection: shoes_size, input_html: { class: 'full-select' }, :label => "Nº Sapato" %>
</div>

<div class="content-split"></div>

<div class="put-left form-block-4-columns">
	<%= f.association :specialties, label: Specialty.model_name.human, label_method: :translated_name, input_html: { class: 'full-select' } %>
	<span class="tip">Você pode selecionar uma ou mais opções.</span>
</div>

<div class="put-left form-block-4-columns">
	<%= f.input :curriculum, input_html: { rows: '3' } %>
</div>