<h3>Etapa 02 de 05</h3>
<h2>Atributos e Especialidades</h2>
<p>Por favor, preencha as informações abaixo e depois clique em "Continuar". Estes não são de preenchimento obrigatório, mas o não preenchimento destes pode prejudicar a performance de suas buscas.</p>

<div class="row">
  <div class="span2">
    <%= f.input :height, as: :string, input_html: { class: 'input-small' } %>
  </div>
  <div class="span2">
    <%= f.input :weight, as: :string, input_html: { class: 'input-small' } %>
  </div>
  <div class="span2">
    <%= f.input :bust, as: :string, input_html: { class: 'input-small' } %>
  </div>
  <div class="span2">
    <%= f.input :waist, as: :string, input_html: { class: 'input-small' } %>
  </div>
  <div class="span2">
    <%= f.input :hip, as: :string, input_html: { class: 'input-small' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= f.input :eyes_color, collection: eyes_color, input_html: { class: 'input-medium' } %>
  </div>
  <div class="span3">
    <%= f.input :hair_color, collection: hair_color, input_html: { class: 'input-medium' } %>
  </div>
  <div class="span3">
    <%= f.input :shoes_size, collection: shoes_size, input_html: { class: 'input-medium' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :specialty, collection: specialties, input_html: { class: 'input-medium', multiple: true } %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= f.input :curriculum, input_html: { rows: '3' } %>
  </div>
</div>