<h3>Etapa 01 de 05</h3>
<h2>Informações Básicas</h2>
<p>Por favor, preencha as informações abaixo e depois clique em "Continuar". Os campos com " * " são obrigatórios.</p>

<div class="row">
  <div class="span5">
    <%= f.input :name, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :birthday, required: true, :as => :date, order: [:day, :month, :year], 
      start_year: start_year, end_year: end_year, input_html: { class: 'input-small' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :rg, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :cpf, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :gender, required: true, collection: genders, as: :radio_buttons %>
  </div>
  <div class="span5">
    <%= f.input :biotype, required: true, collection: biotypes %>
  </div>
</div>

<div class="well">
  <div class="row">
    <div class="span5">
      <%= f.input :responsible_name, input_html: { class: 'input-xlarge' } %>
    </div>
    <div class="span5">
      <%= f.input :responsible_birthday, :as => :date, order: [:day, :month, :year], 
        start_year: start_year, end_year: end_year, input_html: { class: 'input-small' } %>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <%= f.input :responsible_cpf, input_html: { class: 'input-xlarge' } %>
    </div>
    <div class="span5">
      <%= f.input :responsible_rg, input_html: { class: 'input-xlarge' } %>
    </div>
  </div>
</div>  

<div class="row">
  <div class="span5">
    <%= f.input :personal_phone, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :job_phone, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :personal_email, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :job_email, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :cep, required: true, input_html: { class: 'input-xlarge' } %>
    <a href="#" id="find_cep" class="btn">Buscar CEP</a>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= f.input :address, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span3">
    <%= f.input :neighborhood, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span2">
    <%= f.input :address_number, required: true, input_html: { class: 'input-small' } %>
  </div>
  <div class="span2">
    <%= f.input :complement, input_html: { class: 'input-medium' } %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= f.input :city, required: true, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span3">
    <%= f.input :state, required: true, collection: states, input_html: { class: 'input-large' } %>
  </div>
  <div class="span3">
    <%= f.input :country, required: true, priority: [ "Brazil" ], input_html: { class: 'input-large' } %>
  </div>
</div>