<div class="step-by-step step-active-01">
	<div class="steps-line">&nbsp;</div>
	<ul>
		<li class="step-by-step-01">Step 01</li>
		<li class="step-by-step-02">Step 02</li>
		<li class="step-by-step-03">Step 03</li>
		<li class="step-by-step-04">Step 04</li>
		<li class="step-by-step-05">Step 05</li>
	</ul>
</div>

<div class="auto-size-block admin-inner-container">
	
	<!--<h3>Etapa 01 de 05</h3>-->

	<h3 class="header-base-title header-title-basic-info">Informações Básicas</h3>
	<p class="base-text">Por favor, preencha as informações abaixo e depois clique em "Continuar". Os campos com " * " são obrigatórios.</p>
	
</div>

<div class="content-split"></div>

<div id="admin-model-insert-basic-info">
	
	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :name, required: true %>
	</div>
	
	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :birthday, required: true, :as => :date, order: [:day, :month, :year], 
	      start_year: start_year, end_year: end_year, include_blank: true, input_html: { class: 'input-mini' } %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :gender, required: true, collection: genders, as: :radio_buttons %>
	</div>
	
	<div class="content-split"></div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :rg %>
	</div>
	
	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :cpf %>
	</div>
	
	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :biotype, required: true, collection: biotypes, input_html: { class: "full-select" } %>
	</div>
	
	<div class="content-split"></div>
	
	<div class="auto-size-block model-input-responsible">
		<h4>Informações do Responsável</h4>
		
		<div class="put-left form-block-4-columns">
			<%= f.input :responsible_name %>
		</div>
		
		<div class="put-left form-block-4-columns">
			<%= f.input :responsible_birthday, :as => :date, order: [:day, :month, :year], 
		        start_year: start_year, end_year: end_year, include_blank: true, input_html: { class: 'input-small' } %>
		</div>
		
		<div class="content-split"></div>
		
		<div class="put-left form-block-4-columns"><%= f.input :responsible_cpf %></div>
		
		<div class="put-left form-block-4-columns"><%= f.input :responsible_rg %></div>
		
	</div>

	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :personal_phone, required: true %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :job_phone %>
	</div>
	
	<div class="content-split"></div>
	
	<div class="put-left form-block-4-columns field-isreq">
		<%= f.input :personal_email, required: true %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :job_email %>
	</div>
	
	<div class="content-split"></div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :cep %>
	</div>
	
	<div class="put-left form-block-4-columns-link">
		<a href="#" id="find_cep" class="anchor-btn-silver-light-4-column">Buscar CEP</a>
	</div>
	
	<div class="content-split"></div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :address %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :neighborhood %>
	</div>
	
	<div class="put-left form-block-2-columns">
		<%= f.input :address_number %>
	</div>
	
	<div class="put-left form-block-2-columns">
		<%= f.input :complement %>
	</div>
	
	<div class="content-split"></div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :city %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :state, collection: states, input_html: { class: 'full-select' } %>
	</div>
	
	<div class="put-left form-block-4-columns">
		<%= f.input :country, priority: [ "Brazil" ], input_html: { class: 'full-select' } %>
	</div>
	
</div>