<h3>Etapa 03 de 05</h3>
<h2>Dados Gerais</h2>
<p>Por favor, preencha as informações abaixo e depois clique em "Continuar". Estes campos não são de preenchimento obrigatório, fique a vontade para optar em preenchê-los ou não.</p>

<div class="row">
  <div class="span5">
    <%= f.input :bank, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :bank_agency, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :bank_account_type, collection: bank_account_types, as: :radio_buttons %>
  </div>
  <div class="span5">
    <%= f.input :bank_account, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :secondary_phone, input_html: { class: 'input-xlarge' } %>
  </div>
  <div class="span5">
    <%= f.input :secondary_email, input_html: { class: 'input-xlarge' } %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= f.input :site_url, input_html: { class: 'input-xlarge' } %>
  </div>
</div>
