<%= form_for([@model, @composite]) do |f| %>
  <div id="container-composite">
    
    <div id="composite-template" class="ui-widget ui-helper-clearfix">
        <div id="composite-cover" class="is-droppable">Capa Composite</div>
        <div id="composite-01" class="is-droppable">Imagem 01 Composite</div>
        <div id="composite-02" class="is-droppable">Imagem 02 Composite</div>
        <div id="composite-03" class="is-droppable">Imagem 03 Composite</div>
        <div id="composite-04" class="is-droppable">Imagem 04 Composite</div>

        <%= f.hidden_field :main_photo_id %>
        <%= f.hidden_field :first_sub_photo_id %>
        <%= f.hidden_field :second_sub_photo_id %>
        <%= f.hidden_field :third_sub_photo_id %>
        <%= f.hidden_field :fourth_sub_photo_id %>
    </div>
      
    <ul id="model-gallery" class="gallery ui-helper-reset ui-helper-clearfix">
      <% for photo in @composite.model.photos.each %>
        <li class="is-draggable ui-widget-content ui-corner-tr">
          <h5><%= photo.image_file_name %></h5>
          <%= image_tag photo.image.url(:thumb), alt: photo.image_file_name, id: photo.id %>
          <p>Clique e arraste-me para a posição do composite desejada.</p>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="span2">
      <%= f.submit "Voltar", class: 'btn btn-small', :name => "back_button" %>
    </div>
    <div class="offset8 span2">
      <%= f.submit "Finalizar", class: 'btn btn-large btn-primary' %>
    </div>
  </div>
<% end %>
