<div class="row">
  <%= image_tag photo_url(@composite.main_photo_id, :thumb), class: 'rounded' %>
</div>
<div class="row">
  <%= image_tag photo_url(@composite.first_sub_photo_id, :thumb), class: 'rounded' %>
  <%= image_tag photo_url(@composite.second_sub_photo_id, :thumb), class: 'rounded' %>
  <%= image_tag photo_url(@composite.third_sub_photo_id, :thumb), class: 'rounded' %>
  <%= image_tag photo_url(@composite.fourth_sub_photo_id, :thumb), class: 'rounded' %>
</div>