<% if @composite.composite_style == "composite-type-01" %>
	<table id="composite-main" width="930" height="340" border="0" cellspacing="0" cellpadding="0" class="composite-type-01">
<% end %>

<% if @composite.composite_style == "composite-type-02" %>
	<table id="composite-main" width="930" height="340" border="0" cellspacing="0" cellpadding="0" class="composite-type-02">
<% end %>

<% if @composite.composite_style == "composite-type-03" %>
	<table id="composite-main" width="930" height="340" border="0" cellspacing="0" cellpadding="0" class="composite-type-03">
<% end %>

	<tr>
		<td width="1" height="340" class="composite-main-pic" align="left" valign="top" scope="col">
			<%= photo_tag(@composite.main_photo_id, :main_composite, :pdf) %>
		</td>
		
		<td align="left" valign="top" scope="col">
			
			<table border="0" cellspacing="1" cellpadding="1">
				<tr>
					<td>
						<table id="composite-thumbs" border="0" cellspacing="1" cellpadding="1">
							<tr align="left" valign="top">
								<td width="1" height="160"><%= photo_tag(@composite.first_sub_photo_id, :sub_composite, :pdf) %></td>
								<td width="1" height="160"><%= photo_tag(@composite.second_sub_photo_id, :sub_composite, :pdf) %></td>
								<td width="1" height="160"><%= photo_tag(@composite.third_sub_photo_id, :sub_composite, :pdf) %></td>
								<td width="1" height="160"><%= photo_tag(@composite.fourth_sub_photo_id, :sub_composite, :pdf) %></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						
						<table border="0" cellspacing="1" cellpadding="1">
							<tr>
								<td align="left" valign="top">
									<h3><%= @composite.model.name %></h3>
									<p class="small-info">
										<strong>Alt</strong>:
									    <%= @composite.model.height %>

										<strong>Peso</strong>:
									    <%= @composite.model.weight %>

										<strong>Manequim</strong>:
									    <%= @composite.model.mannequin %>

										<strong>Olhos</strong>:
									    <%= @composite.model.eyes_color %>

										<strong>Cabelo</strong>:
									    <%= @composite.model.hair_color %>
									</p>
									<p class="small-info">
										<strong>Height</strong>:
									    <%= @composite.model.height %>

										<strong>Weight</strong>:
									    <%= @composite.model.weight %>

										<strong>Mannequin</strong>:
									    <%= @composite.model.mannequin %>

										<strong>Eyes</strong>:
									    <%= @composite.model.eyes_color %>

										<strong>Hair</strong>:
									    <%= @composite.model.hair_color %>
									</p>
								</td>
							</tr>
							<tr align="left" valign="bottom">
								<td align="left" valign="bottom" width="1" height="60">
									<span id="brandAgendy" class="auto-size-block">
										<% if @composite.model.agency.website.logo_url == ""  %>

											<% if @composite.model.agency.website.logo.url == "/logos/original/missing.png" %>
												Sua logomarca ficará aqui.
											<% else %>
												<%= image_tag @composite.model.agency.website.logo.url(:logo) %>
											<% end %>

										<% else %>

											<%= image_tag @composite.model.agency.website.logo_url %>

										<% end %>
									</span>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
			
		</td>
	</tr>
	
</table>