<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container">
	
	<div id="content-wrapper">
		
		<div id="header" class="put-center">
			<h2 id="login-panel-title">Nova <span>Senha</span></h2>
		</div>
		
		<div id="body">
			
			<div class="login-panel">
				
				<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
					<%= f.error_notification %>

					<%= f.input :reset_password_token, :as => :hidden %>
					<%= f.full_error :reset_password_token %>

					<%= f.input :password, :label => "Nova senha", :required => true %>
					<%= f.input :password_confirmation, :label => "Confirme sua senha", :required => true %>

					<%= f.button :submit, "Mudar Senha" %>
				<% end %>

				<div class="support-links">
					<%= render "agencies/shared/links" %>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>