<div id="casting-list" class="request-list">
	
	<% for casting in @castings %>
		
		<div class="request-line">
			<ul class="requst-info">
				<li><%= check_box_tag casting.id, casting.id %></li>
				<li><%= casting.agency_customer.name %></li>
				<li><%= casting.agency_customer.email %></li>
				<li><%= casting.name %></li>
			</ul>
			
			<ul class="requst-action">
				<li>
					<%= link_to "Link Externo", customer_casting_external_url_path(casting), title: 'Link Externo', remote: true %>
				</li>

				<li class="chat-icon">
					<%= link_to 'Mensagens', customer_casting_messages_path(casting), title: 'Mensagens', remote: true %>
					<% if casting.customer_new_message %>
						<span id="new_message_<%= casting.id %>" class="chat-flag">Pan!</span>
					<% end %>
				</li>
				<li class="request-icon request-add"><%= link_to 'Adicionar Modelos', models_path, title: 'Adicionar Modelos' %></li>
				<li class="request-icon request-view"><%= link_to 'Visualizar', customer_casting_path(casting), title: 'Visualizar' %></li>
				<li class="request-icon request-del"><%= link_to 'Excluir', customer_casting_path(casting), method: :delete, remote: true, title: 'Excluir' %></li>
			</ul>
		</div>
		
	<% end %>
	
</div>