<h1>Listing gallery_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallery_items.each do |gallery_item| %>
  <tr>
    <td><%= gallery_item.title %></td>
    <td><%= gallery_item.description %></td>
    <td><%= link_to 'Show', gallery_item %></td>
    <td><%= link_to 'Edit', edit_gallery_item_path(gallery_item) %></td>
    <td><%= link_to 'Destroy', gallery_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery item', new_gallery_item_path %>
