<div id="edit-agency" class="full-column-container put-center">
	
	<div id="main-header" class="auto-size-block admin-panel-header">
		
		<span class="icon-title icon-title-gear put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding font-title">Editar Conta</h2>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="edit-agency-content" class="auto-size-block clear-margin put-relative">
		
		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
		
		<div id="content" class="full-column-width content-body">
			
			<div id="subheader" class="auto-size-block admin-inner-container">
				
				<h2 class="font-body-title">Minhas <span class="font-body-title-bold">Informações</span></h2>
				<p class="inner-header-base-text">Atualize as suas informações de cadastro utilizando os campos abaixo. Quanto mais completo o seu cadastro, mais eficiente será o nosso suporte.</p>
				
			</div>
			
			<div class="content-split"></div>
			
			<div id="body" class="auto-size-block clear-margin">
				
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
				
				<%= f.error_notification %>
				
				<ul>
				<% @agency.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
				
				<div id="edit-agency-profile-pic" class="put-left">
					
					<div id="profile-pic-container">
						<% if @agency.photo.url == "/photos/original/missing.png" %>
							<%= image_tag "img-no-photo.jpg" %>
						<% else %>
							<%= image_tag @agency.photo.url(:profile) %>
						<% end %>
					</div>
					
				</div>
				
				<div id="edit-agency-inputs" class="put-left-margin">
					
					<div id="edit-agency-basic-info" class="edit-agency-input-group">
						
						<h3>Informações Básicas</h3>

						<div class="put-left form-block-4-columns">
							<%= f.input :email, :required => true, :autofocus => true %>
						</div>

						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :password, :autocomplete => "off", :hint => "Deixe em branco caso não queira atualizar", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :password_confirmation, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :owner_name, :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :owner_cpf, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :name, :label => "Nome da Agência", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :cnpj, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :insc_state, :label => "Inscrição Estadual", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :insc_city, :label => "Inscrição Municipal", :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :fancy_name, :label => "Nome Fantasia", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :social_name, :label => "Razão Social", :required => false %>
						</div>
						
					</div>
					
					<div class="content-split"></div>
					
					<div id="edit-agency-contact-info" class="edit-agency-input-group">
						
						<h3>Informações de Contato</h3>

						<div class="put-left form-block-4-columns">
							<%= f.input :phone, :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :fax, :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :cep, :required => false %>
						</div>

						<div class="put-left form-block-4-columns-link">
							<a href="#" id="find_cep" class="anchor-btn-silver-light-4-column">Buscar CEP</a>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :address, :label => "Endereço", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :neighborhood, :label => "Bairro", :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :complement, :label => "Complemento", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :city, :label => "Cidade", :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :state, collection: states, :label => "Estado", input_html: { class: 'full-select' } %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :country, priority: [ "Brazil" ],  :label => "Estado", input_html: { class: 'full-select' } %>
						</div>
						
					</div>
					
					<div class="content-split"></div>
					
					<div id="edit-agency-agency-info" class="edit-agency-input-group">
						
						<h3>Informações da Agência</h3>
						
						<div class="form-block-4-columns">
							<p>Escolha uma foto de perfil:</p>
							<%= f.file_field :photo %>
						</div>
						
						<div class="content-split"></div>
						
						<div class="form-block-4-columns">
							<%= f.label :agency_about, "Sobre" %>
							<%= f.text_area :agency_about, :label => "Sobre" %>
						</div>
						
					</div>
					
					<div class="content-split"></div>

					<div>
						<%= f.button :submit, "ATUALIZAR", :class => "put-right input-btn-gold-light-4-column" %>
					</div>
					
				</div>
				
				<% end %>
				
				<div class="content-split"></div>
				
				<%= render "agencies/agency_upgrade" %>
				
				<div class="content-split"></div>

				<div id="edit-agency-cancel">
					<h3 class="header-base-title-text">Cancelar <span>minha conta</span></h3>
					<p>Se você deseja cancelar a assinatura de sua conta ÜBER, clique no botão abaixo.</p>
					<%= link_to "Cancelar minha conta", agency_cancel_subscription_path, :data => { :confirm => "Deseja mesmo cancelar a sua conta?" } %>
				</div>
				
				<div class="auto-size-block bottom-ctrl-bar">
					<%= link_to "VOLTAR", agency_root_path, :class => "put-left anchor-btn-silver-light-4-column" %>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>