<div id="edit-agency" class="full-column-container put-center">
	
	<div id="main-header" class="auto-size-block admin-panel-header">
		
		<span class="icon-title icon-title-gear put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding font-title">Editar Conta</h2>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="edit-agency-content" class="auto-size-block clear-margin put-relative">
		
		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
		
		<div id="content" class="full-column-width content-body">
			
			<div id="subheader" class="auto-size-block admin-inner-container">
				
				<h2 class="font-body-title">Minhas <span class="font-body-title-bold">Informações</span></h2>
				<p class="inner-header-base-text">Atualize as suas informações de cadastro utilizando os campos abaixo. Quanto mais completo o seu cadastro, mais eficiente será o nosso suporte.</p>
				
			</div>
			
			<div class="content-split"></div>
			
			<div id="body" class="auto-size-block clear-margin">
				
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
				
				<%= f.error_notification %>
				
				<ul>
				<% @agency.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
				
				<div id="edit-agency-profile-pic" class="put-left">
					
					<div id="profile-pic-container">
						<% if @agency.photo.url == "/photos/original/missing.png" %>
							<%= image_tag "img-no-photo.jpg" %>
						<% else %>
							<%= image_tag @agency.photo.url(:profile) %>
						<% end %>
					</div>
					
				</div>
				
				<div id="edit-agency-inputs" class="put-left-margin">
					
					<div id="edit-agency-basic-info" class="edit-agency-input-group">
						
						<h3>Informações Básicas</h3>

						<div class="put-left form-block-4-columns">
							<%= f.input :email, :required => true, :autofocus => true %>
						</div>

						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :password, :autocomplete => "off", :hint => "Deixe em branco caso não queira atualizar", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :password_confirmation, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :owner_name, :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :owner_cpf, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :name, :label => "Nome da Agência", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :cnpj, :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :insc_state, :label => "Inscrição Estadual", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :insc_city, :label => "Inscrição Municipal", :required => false %>
						</div>
						
						<div class="content-split"></div>

						<div class="put-left form-block-4-columns">
							<%= f.input :fancy_name, :label => "Nome Fantasia", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :social_name, :label => "Razão Social", :required => false %>
						</div>
						
					</div>
					
					<div class="content-split"></div>
					
					<div id="edit-agency-contact-info" class="edit-agency-input-group">
						
						<h3>Informações de Contato</h3>

						<div class="put-left form-block-4-columns">
							<%= f.input :phone, :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :fax, :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :cep, :required => false %>
						</div>

						<div class="put-left form-block-4-columns-link">
							<a href="#" id="find_cep" class="anchor-btn-silver-light-4-column">Buscar CEP</a>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :address, :label => "Endereço", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :neighborhood, :label => "Bairro", :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :complement, :label => "Complemento", :required => false %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :city, :label => "Cidade", :required => false %>
						</div>

						<div class="content-split"></div>
						
						<div class="put-left form-block-4-columns">
							<%= f.input :state, collection: states, :label => "Estado", input_html: { class: 'full-select' } %>
						</div>

						<div class="put-left form-block-4-columns">
							<%= f.input :country, priority: [ "Brazil" ],  :label => "Estado", input_html: { class: 'full-select' } %>
						</div>
						
					</div>
					
					<div class="content-split"></div>
					
					<div id="edit-agency-payment-info" class="edit-agency-input-group">
						
						<h3>Informações de Pagamento</h3>
						
						<div>
							<ul class="payments">
								<li>
									<%= f.radio_button :account_payment, "PagSeguro" %>
									<%= image_tag "admin/flag-pagseguro.jpg" %>
								</li>
								<li>
									<%= f.radio_button :account_payment, "PayPal" %>
									<%= image_tag "admin/flag-paypal.jpg" %>
								</li>
								<li>
									<%= f.radio_button :account_payment, "Boleto" %>
									<%= image_tag "admin/flag-boleto.jpg" %>
								</li>
							</ul>
						</div>
						
						<div class="content-split"></div>
						
						<div id="agency-account-type-info">
							<p>
								Tipo de Conta: 
								<span><%= @agency.account_type %></span>
								<a id="agency-account-display-upgrade" href="#">Fazer Upgrade</a>
							</p>
						</div>
					
					</div>
					
					<div class="content-split"></div>
					
					<div id="agency-account-upgrade" class="edit-agency-input-group">
						
						<h3>Upgrade de Conta</h3>
						
						<%= f.hidden_field :account_period %>
						<%= f.hidden_field :account_type %>
						<%= f.hidden_field :subscription_id %>
						
						<h4 class="header-base-title">Tipos de <strong>Conta</strong></h4>
						<div class="ui-tab-container ui-tab-container-small">
							<ul id="agency-account-upgrade-type" class="put-list-inline">
								<li><a href="#" title="free" class="free">Free</a></li>
								<li><a href="#" title="standard" class="standard">Standard</a></li>
								<li><a href="#" title="uber" class="uber active-tab">Über</a></li>
							</ul>
						</div>

						<div class="content-split"></div>

						<h4 class="header-base-title">Período</h4>
						<div class="ui-tab-container ui-tab-container-medium">
							<ul id="agency-account-upgrade-period">
								<li><a href="#" title="monthly" class="monthly">Mensal</a></li>
								<li><a href="#" title="semiannual" class="semiannual">Semestral</a></li>
								<li><a href="#" title="annual" class="annual active-tab">Anual</a></li>
							</ul>
						</div>
							
						<div class="content-split"></div>

						<div id="agency-account-final-values">
							<h4 class="header-base-title">Valores <strong>Finais</strong></h4>
							<ul id="agency-account-upgrade-price">
								<li><p>Valor Atual: <strong><span id="account-up-actual-price"></span></strong></p></li>
								<li><h4>Valor Upgrade: <strong><span id="account-up-upgrade-price">R$ -,00</span></strong></h4></li>
							</ul>
						</div>
						
					</div>
					
					<div class="content-split"></div>
					
					<div id="edit-agency-agency-info" class="edit-agency-input-group">
						
						<h3>Informações da Agência</h3>
						
						<div class="form-block-4-columns">
							<p>Escolha uma foto de perfil:</p>
							<%= f.file_field :photo %>
						</div>
						
						<div class="content-split"></div>
						
						<div class="form-block-4-columns">
							<%= f.label :agency_about, "Sobre" %>
							<%= f.text_area :agency_about, :label => "Sobre" %>
						</div>
						
					</div>
					
					<div class="content-split"></div>

					<div>
						<%= f.button :submit, "ATUALIZAR", :class => "put-right input-btn-gold-light-4-column" %>
					</div>
					
				</div>
				
				<% end %>
				
				<div class="content-split"></div>

				<div id="edit-agency-cancel">
					<h3 class="header-base-title-text">Cancelar <span>minha conta</span></h3>
					<p>Se você deseja cancelar a assinatura de sua conta ÜBER, clique no botão abaixo.</p>
					<%= link_to "Cancelar minha conta", registration_path(resource_name), :data => { :confirm => "Deseja mesmo cancelar a sua conta?" }, :method => :delete %>
					<a href="javascript:return false;" class="btn-silver-light-fluid offline">Ao invés de sair, nos ajude a melhorar os nossos serviços. Clique aqui!</a>
				</div>
				
				<div class="auto-size-block bottom-ctrl-bar">
					<%= link_to "VOLTAR", agency_root_path, :class => "put-left anchor-btn-silver-light-4-column" %>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>