<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="register-flow">
	
	<div id="content-wrapper">
		
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		
		<%= f.error_notification %>
		
		<div id="plans">
			
			<!-- BEGIN MONTH VALUES -->
			<% @monthly.each do |monthly| %>
				<%= hidden_field_tag "monthly-#{monthly.subscription.name}", monthly.id %>
				<%= hidden_field_tag "monthly-price-#{monthly.subscription.name}", monthly.price %>
			<% end %>
			<!-- END MONTH VALUES -->
			<!-- BEGIN SEMIANNUAL VALUES -->
			<% @semiannual.each do |semiannual| %>
				<%= hidden_field_tag "semiannual-#{semiannual.subscription.name}", semiannual.id %>
				<%= hidden_field_tag "semiannual-price-#{semiannual.subscription.name}", semiannual.price %>
			<% end %>
			<!-- END SEMIANNUAL VALUES -->
			<!-- BEGIN ANNUAL VALUES -->
			<% @annual.each do |annual| %>
				<%= hidden_field_tag "annual-#{annual.subscription.name}", annual.id %>
				<%= hidden_field_tag "annual-price-#{annual.subscription.name}", annual.price %>
			<% end %>
			<!-- END ANNUAL VALUES -->
			
			<%= f.hidden_field :account_period, :value => "monthly" %>
			<%= f.hidden_field :account_type %>
			
			<!-- MAIN VALUES -->
			<%= hidden_field_tag "plan_id" %>
			<%= hidden_field_tag "plan_price" %>
			
			<h2 class="main-title">Nossos <span>Planos</span></h2>
			<p>Confira qual o melhor plano para o seu negócio e faça o seu cadastro. É simples, e em caso de dúvidas, fale conosco.</p>
			
			<div class="content-split"></div>
			
			<div id="plan-period">
				<ul>
					<li><a href="javascript:void(0);" title="Mensal" class="monthly period-active">Mensal</a></li>
					<li><a href="javascript:void(0);" title="Semestral" class="semiannual">Semestral</a></li>
					<li><a href="javascript:void(0);" title="Anual" class="annual">Anual</a></li>
				</ul>
			</div>
			
			<div class="content-split"></div>
			
			<div id="plan-type">
				
				<div id="type-01" class="plan-box">
					<h3>Plano Free</h3>
					<ul>
						<li>Templates para o site: 0</li>
						<li>Modelos para cadastro: 5</li>
						<li class="no-have">Domínio Próprio</li>
					</ul>
					<p class="price-free">Free</p>
					<a href="#" title="Experimentar" class="anchor-btn-gold-liquid">Experimentar</a>
				</div>
				
				<div id="type-02" class="plan-box">
					<h3>Plano Über</h3>
					<ul>
						<li>Templates para o site: todos</li>
						<li>Modelos para cadastro: ilimitado</li>
						<li class="have">
							Domínio Próprio
							<a href="#" data-toggle="tooltip" title="Seu ÜberSite poderá ser acessado dessa forma: nomeagencia.ubercasting.com.br" class="has-tooltip">?</a>
						</li>
					</ul>
					<p class="price-top">R$0,00<span>/mês</span></p>
					<a href="#" title="Experimentar" class="anchor-btn-gold-liquid">Contratar</a>
				</div>
				
				<div id="type-03" class="plan-box">
					<h3>Plano Standard</h3>
					<ul>
						<li>Templates para o site: 5</li>
						<li>Modelos para cadastro: 50</li>
						<li class="have">Domínio Próprio <a href="#" data-toggle="tooltip" title="Seu ÜberSite poderá ser acessado dessa forma: nomeagencia.ubercasting.com.br" class="has-tooltip">?</a></li>
					</ul>
					<p class="price-top">R$0,00<span>/mês</span></p>
					<a href="#" title="Contratar" class="anchor-btn-gold-liquid">Contratar</a>
				</div>
				
			</div>
			
		</div>
		
		<div id="register-free" class="register-group" style="display: none">
			
			<h2 class="main-title">Faça seu <span>Cadastro Gratuito</span></h2>
			<h3 class="sub-title">Por favor, preencha os campos para realizar o cadastro da agência e o administrador da conta.</h3>
			
			<div class="form-register">
				
				<div class="form-register-field">
					<%= f.input :email, :required => true, :autofocus => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :password, :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :password_confirmation, :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :name, :label => "Nome da Agência", :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :owner_name, :required => true %>
				</div>
				
				<div class="form-register-field">
					<p class="inner-tip">Ao clicar no botão "Finalizar", você declara que leu, entendeu e concordou com os nossos <%= link_to 'Termos de Uso', contract_path, :target => "_blank", :class => "outter-link popup-link" %>.</p>
					<%= f.button :submit, "Finalizar", :class => "put-right input-btn-gold-light-4-column" %>
				</div>
				
			</div>
			
			<div class="plan-summary-folder">
				<h4 class="plan-summary-type">Plano Básico</h4>
				<ul>
					<li class="plan-summary-period">Plano:</li>
					<li class="plan-summary-template">Templates para o site: 1</li>
					<li class="plan-summary-models">Modelos para cadastro: 5</li>
					<li class="plan-summary-domain no-have">Domínio próprio: Não</li>
				</ul>
				<p class="plan-price">FREE</p>
			</div>
			
		</div>
		
		<div id="register-pay-01" class="register-group" style="display: none">
			
			<div class="register-steps register-step-01">
				<div class="register-steps-line"></div>
				<div class="register-steps-labels">
					<ul>
						<li class="register-steps-01">Dados de Acesso</li>
						<li class="register-steps-02">Informações Básicas</li>
						<li class="register-steps-03">Informações de Pagamento</li>
					</ul>
				</div>
				<div class="register-steps-icons">
					<ul>
						<li class="register-steps-icon-01">Dados de Acesso</li>
						<li class="register-steps-icon-02">Informações Básicas</li>
						<li class="register-steps-icon-03">Informações de Pagamento</li>
					</ul>
				</div>
			</div>
			
			<h2 class="main-title">Faça seu <span>Cadastro</span></h2>
			<h3 class="sub-title">Por favor, preencha os campos abaixo para darmos início ao processo de cadastro.</h3>
			
			<div class="form-register">
				
				<div class="form-register-field">
					<%= f.input :email, :required => true, :autofocus => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :password, :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :password_confirmation, :required => true %>
				</div>
				
				<div class="form-register-field">
					<a class="btn-continue anchor-btn-gold-liquid" href="#" onclick="javascript:return false;">Continuar</a>
				</div>
				
			</div>
			
			<div class="plan-summary-folder">
				<h4 class="plan-summary-type">Plano Top</h4>
				<ul>
					<li class="plan-summary-period">Plano:</li>
					<li class="plan-summary-template">Templates para o site: 5</li>
					<li class="plan-summary-models">Modelos para cadastro: 50</li>
					<li class="plan-summary-domain have">Domínio próprio: Sim</li>
				</ul>
				<p class="plan-price"><span>R$</span> 100,00 <span>/mês</span></p>
			</div>
			
		</div>
		
		<div id="register-pay-02" class="register-group" style="display: none">
			
			<div class="register-steps register-step-02">
				<div class="register-steps-line"></div>
				<div class="register-steps-labels">
					<ul>
						<li class="register-steps-01">Dados de Acesso</li>
						<li class="register-steps-02">Informações Básicas</li>
						<li class="register-steps-03">Informações de Pagamento</li>
					</ul>
				</div>
				<div class="register-steps-icons">
					<ul>
						<li class="register-steps-icon-01">Dados de Acesso</li>
						<li class="register-steps-icon-02">Informações Básicas</li>
						<li class="register-steps-icon-03">Informações de Pagamento</li>
					</ul>
				</div>
			</div>
			
			<h2 class="main-title">Faça seu <span>Cadastro</span></h2>
			<h3 class="sub-title">Por favor, preencha os campos para realizar o cadastro da agência e o administrador da conta.</h3>
			
			<div class="form-register">
				
				<div class="form-register-field">
					<%= f.input :name, :label => "Agência", :required => true, :autofocus => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :cnpj, :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :owner_name, :required => true %>
				</div>
				
				<div class="form-register-field">
					<%= f.input :owner_cpf, :required => true %>
				</div>
				
				<div class="form-register-field">
					<a class="btn-back btn-silver-light-fluid put-left" href="#" onclick="javascript:return false;">Voltar</a>
					<a class="btn-continue anchor-btn-gold-liquid" href="#" onclick="javascript:return false;">Continuar</a>
				</div>
				
			</div>
			
			<div class="plan-summary-folder">
				<h4 class="plan-summary-type">Plano Top</h4>
				<ul>
					<li class="plan-summary-period">Plano:</li>
					<li class="plan-summary-template">Templates para o site: 5</li>
					<li class="plan-summary-models">Modelos para cadastro: 50</li>
					<li class="plan-summary-domain have">Domínio próprio: Sim</li>
				</ul>
				<p class="plan-price"><span>R$</span> 100,00 <span>/mês</span></p>
			</div>
			
		</div>
		
		<div id="register-pay-03" class="register-group" style="display: none">
			
			<div class="register-steps register-step-03">
				<div class="register-steps-line"></div>
				<div class="register-steps-labels">
					<ul>
						<li class="register-steps-01">Dados de Acesso</li>
						<li class="register-steps-02">Informações Básicas</li>
						<li class="register-steps-03">Informações de Pagamento</li>
					</ul>
				</div>
				<div class="register-steps-icons">
					<ul>
						<li class="register-steps-icon-01">Dados de Acesso</li>
						<li class="register-steps-icon-02">Informações Básicas</li>
						<li class="register-steps-icon-03">Informações de Pagamento</li>
					</ul>
				</div>
			</div>
			
			<h2 class="main-title">Faça seu <span>Cadastro</span></h2>
			<h3 class="sub-title">Por favor, selecione o formato de pagamento desejado.</h3>
			
			<div class="form-register">
				
				<div class="form-register-field">
					<ul class="payments">
						<li>
							<%= f.radio_button :account_payment, "PagSeguro" %>
							<%= image_tag "internal/flag-pagseguro.jpg" %>
						</li>
						<li>
							<%= f.radio_button :account_payment, "PayPal" %>
							<%= image_tag "internal/flag-paypal.jpg" %>
						</li>
						<li>
							<%= f.radio_button :account_payment, "Boleto", :checked => true %>
							<%= image_tag "internal/flag-boleto.jpg" %>
						</li>
					</ul>
					
				</div>
				
				<div id="content-split"></div>
				
				<div class="form-register-field">
					<a class="btn-back btn-silver-light-fluid put-left" href="#" onclick="javascript:return false;">Voltar</a>
					<%= f.button :submit, "Finalizar", :class => "put-right input-btn-gold-light-4-column" %>
				</div>
				
				<div id="content-split"></div>
				
				<p class="inner-tip">Ao clicar no botão "Finalizar", você declara que leu, entendeu e concordou com os nossos <%= link_to 'Termos de Uso', contract_path, :target => "_blank", :class => "outter-link  popup-link" %>.</p>
				
			</div>
			
			<div class="plan-summary-folder">
				<h4 class="plan-summary-type">Plano Top</h4>
				<ul>
					<li class="plan-summary-period">Plano:</li>
					<li class="plan-summary-template">Templates para o site: 5</li>
					<li class="plan-summary-models">Modelos para cadastro: 50</li>
					<li class="plan-summary-domain have">Domínio próprio: Sim</li>
				</ul>
				<p class="plan-price"><span>R$</span> 100,00 <span>/mês</span></p>
			</div>
			
		</div>
		
		<% end %>
		
	</div>
	
</div>