<div id="casting-foreign-content-container">
	<div class="auto-size-block">
		<p class="lead">Casting</p>
		<p class="default">Para começar a criar seus castings, você deve seguir um dos três caminhos abaixo:</p>
		
		<div class="casting-block">
			<h4 class="guide-title">1. Login</h4>
			<p class="default">Faça seu login para começar montar seus castings.</p>

			<div class="website-content-btns">
				<% if !@website.logo_url.blank?  %>
					<%= hidden_field_tag "logo-img", @website.logo_url %>
				<% else %>
					<% if @website.logo.url == "/logos/original/missing.png" %>
						<%= hidden_field_tag "logo-img" %>
					<% else %>
						<%= hidden_field_tag "logo-img", @website.logo.url(:logo) %>
					<% end %>
				<% end %>
				<%= link_to "Login", customer_session_path, :class => "btn-silver-light-fluid sub-popup-link popupw-555 popuph-740" %>
			</div>
		</div>
		
		<div class="casting-block">
			<h4 class="guide-title">2. Fazer um Cadastro</h4>
			<p class="default">Faça um pedido de cadastro para buscar modelos e montar seus castings.</p>

			<div class="website-content-btns">
				<%= link_to "Pedir Cadastro", subdomain_new_customer_request_path(subdomain: request.subdomain), :class => "btn-silver-light-fluid" %>
			</div>
		</div>
		
		<div class="casting-block">
			<h4 class="guide-title">3. Entrar em Contato</h4>
			<p class="default">Entre em contato conosco através de nosso formulário de contato. </p>

			<div class="website-content-btns">
				<%= link_to "Enviar Mensagem", subdomain_websites_contact_us_path(subdomain: request.subdomain), :class => "btn-silver-light-fluid" %>
			</div>
		</div>
		
		
	</div>
</div>