<div id="contactus-content-container">
	
	<div id="contact-form">
		<p class="lead">Fale Conosco</p>
		<p class="default">Fique a vontade para falar conosco através do formulário abaixo. Iremos responder o mais rápido possível.</p>

		<%= form_tag(subdomain_websites_send_contact_us_path(subdomain: @website.subdomain)) do %>

			<div class="contact-input-field">
				<%= text_field_tag :contact_name, nil, :required => true, :autofocus => true, :value => "Nome" %>
			</div>
			<div class="contact-input-field">
				<%= text_field_tag :contact_mail, nil, :required => true, :value => "E-mail" %>
			</div>
			<div class="contact-input-field">
				<%= text_area_tag :contact_msg, nil, :required => true %>
			</div>

			<div id="contact-form-button-set" class="auto-size-block"><%= submit_tag 'Enviar', :class => "btn-enviar" %></div>

		<% end %>
	</div>
	
	<div id="contact-map">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=468x492&sensor=false&zoom=16&markers=#{@website.agency.latitude}%2C#{@website.agency.longitude}" %>
	</div>
	
</div>
