<div id="customer-login-container">
	
	<div id="alert-msgs">
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    	<a class="close" data-dismiss="alert">×</a>
		    	<%= msg %>
		    </div>
		<% end %>
	</div>
	
	<div id="agency-logo"></div>
	
	<div id="customer-login-window">
		
		<p><span class="gold-sign">Reenviar instruções de confirmação</span></p>
		<br />
		<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			<%= f.error_notification %>
			<%= devise_error_messages! %>

			<div class="form-inputs">
				<%= f.input :email, :required => true %>
			</div>

			<div class="form-actions">
				<%= f.button :submit, "Enviar instruções", :class => "input-btn-silver-light-4-column" %>
			</div>
		<% end %>

		<%= render "customers/shared/links" %>
		
	</div>
	
</div>
