<div id="customer-login-container">
	
	<div id="alert-msgs">
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    	<a class="close" data-dismiss="alert">×</a>
		    	<%= msg %>
		    </div>
		<% end %>
	</div>
	
	<div id="agency-logo">
		<% if !@agency.website.logo_url.blank?  %>
			<%= image_tag @agency.website.logo_url, {:style => "width:auto; height: 100px;"} %>
		<% else %>
			<% if @agency.website.logo.url == "/logos/original/missing.png" %>
				Sua logomarca ficará aqui.
			<% else %>
				<%= image_tag @agency.website.logo.url(:logo), {:style => "width:auto; height: 100px;"} %>
			<% end %>
		<% end %>
	</div>
	
	<div id="customer-login-window">
		
		<%= form_for resource, :as => resource_name, :url => update_customer_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f| %>
			<%= devise_error_messages! %>
			<fieldset>
			
			<p>Ativação de conta <% if resource.email %> para:<br /> <span class="gold-sign"><%= resource.email %></span><% end %></p>
			<p>Agência Remetente: <br /> <span class="gold-sign"><%= @agency.name %></span></p>
			
			<div class="form-inputs">
				<% if @requires_password %>
					<div class="customer-login-input-field">
						<%= f.label :password,'Digite uma senha:' %>
						<%= f.password_field :password %>
					</div>
				
					<div class="customer-login-input-field">
						<%= f.label :password_confirmation,'Confirme sua senha:' %>
						<%= f.password_field :password_confirmation %>
					</div>
				<% end %>
			</div>
			
			<%= hidden_field_tag :confirmation_token, @confirmation_token %>
			<%= hidden_field_tag :subdomain, @subdomain %>
			
			<div class="form-actions">
				<%= f.submit "Ativar", :class => "input-btn-silver-light-4-column" %>
			</div>
			
			</fieldset>
			
		<% end %>
		
	</div>
	
</div>