<div id="customer-login-container">
	
	<div id="agency-logo"></div>
	
	<div id="customer-login-window">
		
		<%= form_for resource, :as => resource_name, :url => update_customer_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f| %>
			<%= devise_error_messages! %>
			<fieldset>
			
			<p>Ativação de conta <% if resource.email %> para:<br /> <span class="gold-sign"><%= resource.email %></span><% end %></p>

			<div class="form-inputs">
				<% if @requires_password %>
					<div class="customer-login-input-field">
						<%= f.label :password,'Digite uma senha:' %>
						<%= f.password_field :password %>
					</div>
				
					<div class="customer-login-input-field">
						<%= f.label :password_confirmation,'Confirme sua senha:' %>
						<%= f.password_field :password_confirmation %>
					</div>
				<% end %>
			</div>
			
			<%= hidden_field_tag :confirmation_token, @confirmation_token %>
			<%= hidden_field_tag :subdomain, @subdomain %>
			
			<div class="form-actions">
				<%= f.submit "Ativar", :class => "input-btn-silver-light-4-column" %>
			</div>
			
			</fieldset>
			
		<% end %>
		
	</div>
	
	<div id="uber-logo">
		<%= image_tag "customer/img-uber-logo.png" %>
	</div>
	
</div>

<%= @agency.name %>