<div id="login-panel-container" class="put-center">
	
	<div class="auto-size-block admin-panel-header">
		
		<span class="icon-gear put-left">&nbsp;</span>
		<h2 class="title-painel-login put-left">Painel de Login</h2>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="admin-panel-content" class="auto-size-block">
		
		<div id="admin-panel-login-header" class="clear-margin-padding">&nbsp;</div>
		
		<div id="admin-panel-content-container" class="clear-margin auto-size-block admin-container-header">
			
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'form-horizontal') do |f| %>

				<%= f.input :email, :required => false, :autofocus => true %>
				<%= f.input :password, :required => false %>
				<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

				<%= f.submit "Login", :class => "input-btn-silver-light-4-column" %>

			<% end %>

			<%= render "devise/shared/links" %>
			
		</div>
		
	</div>
	
</div>