<div id="model-video-container" class="auto-size-block">
	
	<h3 class="header-base-title-text">YouTube <strong>Video</strong></h3>
	<p class="base-text">Possuí vídeos deste modelo no YouTube? Adicione o endereço do vídeo (Ex.: http://www.youtube.com/watch?v=codigo_video) no campo abaixo para que ele fique disponível na galeria. Iremos converter o endereço do seu vídeo automaticamente para que a visualização funcione.</p>
	
	<%= form_for @model, :remote => true, :url => model_update_video_path do |f| %>
	
		<%= f.text_field :video, :class => "input-txt-light-5-columns put-left" %>
	
		<%= f.submit 'Salvar Video', class: 'put-left btn-silver-light-fluid' %>
	
	<% end %>

	<table>
		<% @model.videos.each do |video| %>
			<tr>
				<td><%= video.url %></td>
				<td><%= link_to 'Delete', model_video_path(@model, video), remote: true, method: :delete %></td>
			</tr>
		<% end %>
	</table>
	
	<div class="content-split"></div>
	
</div>