<div id="photo-upload" class="full-column-container put-center">
	
	<div id="main-header" class="auto-size-block admin-panel-header">
		
		<span class="icon-title icon-title-model put-left">&nbsp;</span>
		<% if params[:source] == 'edit' %>
			<h2 class="put-left clear-margin-padding base-title title-edit-models">Editar Modelo</h2>
	    <% else %>
			<h2 class="put-left clear-margin-padding base-title title-insert-models">Adicionar Novo Modelo</h2>
	    <% end %>
		
	</div>
	
	<div class="content-split"></div>
	
	<div id="model-info-content" class="auto-size-block clear-margin put-relative">
		
		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
		
		<div id="content" class="full-column-width content-body">
			
			<div id="subheader" class="auto-size-block admin-inner-container">
				
				<div class="step-by-step step-active-04">
					<div class="steps-line">&nbsp;</div>
					<ul>
						<li class="step-by-step-01">Step 01</li>
						<li class="step-by-step-02">Step 02</li>
						<li class="step-by-step-03">Step 03</li>
						<li class="step-by-step-04">Step 04</li>
						<li class="step-by-step-05">Step 05</li>
					</ul>
				</div>
				
				<h3 class="header-base-title header-title-img-upload">Upload de Imagens</h3>
				<p class="base-text">Hora de criar a galeria de fotos do modelo. Faça o upload das imagens, selecionando as melhores, para fechar o ciclo de cadastro. Não esqueça de escolher a imagem que aparecerá no perfil do modelo.</p>
				
			</div>
			
			<div class="content-split"></div>
			
			<div id="body" class="auto-size-block clear-margin">
				
				<!-- The file upload form used as target for the file upload widget -->
				<%= form_for [:model, @photo], html: { multipart: true, id: "fileupload" } do |f| %>

				<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
				    <div class="row fileupload-buttonbar">

						<p class="base-text">Clique nos botões abaixo para inciar o upload:</p>

						<div class="content-split"></div>

						<div class="span7 btnbar-upload">

							<!-- The fileinput-button span is used to style the file input field as button -->
							<span class="btn-silver-light-fluid fileinput-button put-left">
				                <span>Adicionar Arquivos</span>
				                <%= f.file_field :image, :multiple => true %>
				            </span>
				
							<button type="submit" class="btn-silver-light-fluid btn-primary start  put-left">
				                <span>Começar Upload</span>
				            </button>
				
							<button type="reset" class="btn-silver-light-fluid btn-warning cancel  put-left">
				                <span>Cancelar Upload</span>
				            </button>
				
							<button type="button" class="btn-silver-light-fluid delete  put-left">
				                <span>Apagar</span>
				            </button>
				
							<%= link_to "Escolher Foto de Perfil", model_profile_pic_path, title: 'Perfil Update', :class => "btn-silver-light-fluid put-left", :id => "link-choose-profile-pic", remote: true %>
							
							<%= image_tag "admin/ajax-loader.gif", :id => "ajax-loadr" %>
							
							<%= hidden_field_tag :model_profile_picture, @model.avatar_file_name %>
							
							<div class="put-left">
								<input type="checkbox" class="toggle put-left">
								<label class="put-left">Selecionar Todos</label>
							</div>

				        </div>

						<!-- The global progress information -->
				        <div class="span5 fileupload-progress fade">

							<!-- The global progress bar -->
				            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				                <div class="bar" style="width:0%;"></div>
				            </div>

							<!-- The extended global progress information -->
				            <div class="progress-extended">&nbsp;</div>

				        </div>

				    </div>

				<!-- The loading indicator is shown during file processing -->
				    <div class="fileupload-loading"></div>
				    <br />
					
					<!-- The table listing the files available for upload/download -->
				    <table id="table-img-display" role="presentation" class="table table-striped auto-size-block clear-margin-padding">
						<tbody class="files auto-size-block clear-margin-padding" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
					</table>

				<% end %>

				<!-- The template to display files available for upload -->
				<script id="template-upload" type="text/x-tmpl">
				{% for (var i=0, file; file=o.files[i]; i++) { %}
				    <tr class="template-upload fade">
				        <td class="preview"><span class="fade"></span></td>
				        <td class="name"><span>{%=file.name%}</span></td>
				        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
				        {% if (file.error) { %}
				            <!--<td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>-->
							<td colspan="2">Verifique se está foto está disponível corretamente...</td>
				        {% } else if (o.files.valid && !i) { %}
				            <td>
				                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
				            </td>
				            <td class="start">{% if (!o.options.autoUpload) { %}
				                <button class="btn-silver-light-fluid">
				                    <span>Upload</span>
				                </button>
				            {% } %}</td>
				        {% } else { %}
				            <td colspan="2"></td>
				        {% } %}
				        <td class="cancel">{% if (!i) { %}
				            <button class="btn-icon-cancel">
				                <span>Cancel</span>
				            </button>
				        {% } %}</td>
				    </tr>
				{% } %}
				</script>
				
				<!-- The template to display files available for download -->
				<script id="template-download" type="text/x-tmpl">
				{% for (var i=0, file; file=o.files[i]; i++) { %}
				    <tr class="template-download fade">
				        {% if (file.error) { %}
				            <td></td>
				            <td class="name"><span>{%=file.name%}</span></td>
				            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
				            <!--<td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>-->
							<td colspan="2">Verifique se está foto está disponível corretamente...</td>
				        {% } else { %}
				            <td class="preview">{% if (file.thumbnail_url) { %}
				                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
				            {% } %}</td>
				            <td class="name">
				                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
				            </td>
				            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
				            <td class="avatar">
				                <!--<a href="{%=file.change_avatar_url%}" class="btn-silver-light-fluid" data-remote="true" data-method="put">Perfil</a>-->
				            </td>
				            <td></td>
				        {% } %}
				        <td class="delete">
				            <button class="put-left btn-icon-delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" title="Apagar">
				                <span>Apagar</span>
				            </button>
				            <input type="checkbox" name="delete" value="1" class="auto-size-block put-left-margin">
				        </td>
				    </tr>
				{% } %}
				</script>

				<div id="photo-upload-videos">
					<%= render 'video' %>
				</div>
				
				<div class="auto-size-block bottom-ctrl-bar">

					<% if params[:source] == 'edit' %>
			            <%= link_to "Finalizar", models_path, class: 'put-left-margin anchor-btn-gold-light-4-column' %>
			        <% end %>

					<% if params[:source] == 'edit' %>
			            <%= link_to "Continuar", edit_model_composite_path(@model, @model.composite), :id => "btn-continue-composite", class: 'put-right anchor-btn-gold-light-4-column' if @model.composite %>
			            <%= link_to "Continuar", new_model_composite_path(@model, { source: 'edit'}), :id => "btn-continue-composite", class: 'put-right anchor-btn-gold-light-4-column' unless @model.composite %>
			        <% else %>
			            <%= link_to "Continuar", new_model_composite_path(@model), :id => "btn-continue-composite", class: 'put-right anchor-btn-gold-light-4-column' %>
			        <% end %>

				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>