<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container">
	
	<div id="content-wrapper">
		
		<div id="header" class="put-center">
			<h2 id="login-panel-title">Instruções de <span>Confirmação</span></h2>
		</div>
		
		<div id="body">
			
			<div class="login-panel">
				
				<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
					<%= f.error_notification %>

					<%= f.input :email, :required => true %>

					<%= f.button :submit, "Reenviar Confirmação", :class => "input-btn-silver-light-4-column" %>
				<% end %>

				<div class="support-links">
					<%= render "agencies/shared/links" %>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>