<div id="modal-add-model" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Adicionar Modelo à Casting</h3>
  </div>
  <%= form_for @model_casting, url: model_add_to_casting_path(params[:model_id]), remote: true do |f| %>
    <%= f.hidden_field :model_id %>
    <div class="modal-body">
      <table class="table table-striped">
        <% for casting in @castings %>
          <tr>
            <td><%= f.radio_button :casting_id, casting.id %></td>
            <td><%= casting.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Adicionar', class: 'btn btn-primary' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
  <% end %>
</div>