<!DOCTYPE html>
<html>
<head>
  <title>Ubercasting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="nav_bar">
    <ul>
      <li><%= link_to 'Home', agency_root_path %></li>
      <li><%= link_to 'Modelos', models_path %></li>
      <li>Casting</li>
      <li>Clientes</li>
    </ul>
  </div>
  <% if agency_signed_in? %>
    <div id="profile">
      Olá <%= current_agency.email %>
      <%= link_to 'Sair', destroy_agency_session_path %>
    </div>
  <% end %>
</div>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
