<!DOCTYPE html>
<html>
<head>
  <title>ÜBER - Casting Made Easy - Admin Panel</title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all" %>

  <% if controller.controller_name == 'composites' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.2.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.9.0/jquery-ui.js" %>
    <%= javascript_include_tag "jquery_resizecrop-103_min" %>
	<%= javascript_include_tag "dragdrop_composite" %>
  <% else %>
    <%= javascript_include_tag "application" %>
  <% end %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div id="modals"></div>
  
<div id="container">
	
	<div id="nav-container">
    	
        <div id="nav-wrapper">
            
            <div id="primary-links">
                
                <ul id="primary-links-list">
                    <li><h1 class="nav-logo"><%= link_to 'ÜBER', root_path  %></h1></li>
                    <li><%= link_to 'Home', agency_root_path, :class => "btn-home" %></li>
                    <li class="hasdrop">
						<%= link_to 'Modelos', models_path, :class => "btn-models" %>
						<ul class="dropdown">
							<li><%= link_to '» Gerenciar Modelos', models_path %></li>
							<li><%= link_to '» Adicionar Novo Modelo', new_model_path %></li>
							<li><%= link_to '» Visualizar Pedidos', new_model_path, :class => "hasfbicon offline" %></li>
							<li><%= link_to '» Convidar Modelo', new_model_path, :class => "hasfbicon offline" %></li>
							<li><%= link_to '» Conectar Sites', new_model_path, :class => "hasnewicon offline" %></li>
						</ul>
					</li>
                    <li class="hasdrop">
						<%= link_to 'Castings', castings_path, :class => "btn-casting" %>
						<ul class="dropdown">
							<li><%= link_to '» Gerenciar Castings', castings_path %></li>
							<li><%= link_to '» Pedidos de Castings', castings_path, :class => "offline" %></li>
						</ul>
					</li>
					<li class="hasdrop"><%= link_to 'Clientes', root_path, :class => "btn-clients" %>
						<ul class="dropdown">
							<li><%= link_to '» Criar Novo Usuário', root_path, :class => "offline" %></li>
							<li><%= link_to '» Lista de Clientes', root_path, :class => "offline" %></li>
						</ul>
					</li>
					<li class="hasdrop"><%= link_to 'Website', root_path, :class => "btn-website" %>
						<ul class="dropdown">
							<li><%= link_to '» Configurar Tema', root_path, :class => "offline" %></li>
							<li><%= link_to '» Alterar Visualização', root_path, :class => "offline" %></li>
							<li><%= link_to '» Customizar Domínio', root_path, :class => "offline" %></li>
						</ul>
					</li>
                </ul>
                
            </div>
            
            <div id="secundary-links">
                
                <ul id="secundary-links-list">
                    <li><%= link_to 'Sair »', destroy_agency_session_path %></li>
                </ul>
                
            </div>
            
        </div>

	</div>
	
	<div id="nav-block-push">&nbsp;</div>
	
	<div id="alert-msgs">
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    	<a class="close" data-dismiss="alert">×</a>
		    	<%= msg %>
		    </div>
		<% end %>
	</div>
	
	<%= yield %>
	
	<div id="footer-container">
    	
        <div id="footer-wrapper">
        
            <div id="footer-left-column" class="footer-column">
                <h5 id="footer-title-uber">Über</h5>
                <ul class="footer-link-list">
                    <li><%= link_to 'Modelos »', models_path %></li>
                    <li><%= link_to 'Castings »', root_path %></li>
                    <li><%= link_to 'Clientes »', root_path %></li>
					<li><%= link_to 'Website »', root_path %></li>
                </ul>
            </div>
            
            <div id="footer-middle-column" class="footer-column">
                <h5 id="footer-title-contato">Contato</h5>
                <ul class="footer-link-list">
                    <li><a href="#" title="Ajuda">Ajuda &raquo;</a></li>
                    <li><a href="#" title="Facebook">Facebook &raquo;</a></li>
                    <li><a href="#" title="Termos de Uso">Termos de Uso &raquo;</a></li>
                    <li><a href="#" title="Política de Privacidade">Política de Privacidade &raquo;</a></li>
                </ul>
            </div>
            
            <div id="footer-right-column" class="footer-column no-margin">
                <h5 id="footer-title-faleconosco">Fale Conosco, e nos diga como podemos ajudar:</h5>
                <p>Envie uma mensagem para nós, e iremos responder o mais rápido possível.</p>
                <ul class="footer-link-list">
                    <li><a href="#" title="contato@ubercasting.com.br">contato@ubercasting.com.br</a></li>
                    <li><a href="#" title="ajuda@ubercasting.com.br">ajuda@ubercasting.com.br</a></li>
                    <li><a href="#" title="suporte@ubercasting.com.br">suporte@ubercasting.com.br</a></li>
                </ul>
            </div>
            
            <div class="content-split"></div>
            
            <p class="footer-signature">2012 &copy; Über Casting - Todos os Direitos Reseravados</p>
            
        </div>
        
    </div>
	
</div>


</body>
</html>
