<!DOCTYPE html>
<html>
<head>
  <title>ÜBER - Casting Made Easy - Admin Panel</title>
  <%= favicon_link_tag %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: "all" %>

  <% if controller.controller_name == 'composites' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.2.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.9.0/jquery-ui.js" %>
	<%= javascript_include_tag "jquery-resize-n-place" %>
	<%= javascript_include_tag "dragdrop_composite" %>
  <% else %>
    <%= javascript_include_tag "application" %>
  <% end %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div id="modals"></div>
  
<div id="container">
	
	<div id="nav-container">
    	
        <div id="nav-wrapper">
            
            <div id="primary-links">
                
                <ul id="primary-links-list">
                    <li><h1 class="nav-logo"><%= link_to 'ÜBER', agency_root_path  %></h1></li>
                    <li><%= link_to 'Home', agency_root_path, :class => "btn-home" %></li>
                    <li class="hasdrop">
						<%= link_to 'Modelos', models_path, :class => "btn-models" %>
						<ul class="dropdown">
							<li><%= link_to '» Gerenciar Modelos', models_path %></li>
							<li><%= link_to '» Adicionar Novo Modelo', new_model_path %></li>
							<li><%= link_to '» Visualizar Pedidos', new_model_path, :class => "hasfbicon offline" %></li>
							<li><%= link_to '» Convidar Modelo', new_model_path, :class => "hasfbicon offline" %></li>
						</ul>
					</li>
                    <li class="hasdrop">
						<%= link_to 'Castings', castings_path, :class => "btn-casting" %>
						<ul class="dropdown">
							<li><%= link_to '» Gerenciar Castings', castings_path %></li>
							<li><%= link_to '» Pedidos de Castings', customer_castings_path %></li>
						</ul>
					</li>
					<li class="hasdrop"><%= link_to 'Clientes', agency_customers_path, :class => "btn-clients" %>
						<ul class="dropdown">
							<li><%= link_to '» Criar Novo Usuário', new_agency_customer_path %></li>
                            <li><%= link_to '» Lista de Clientes', agency_customers_path %></li>
							<li><%= link_to '» Pedidos de Clientes', agency_customer_requests_path %></li>
						</ul>
					</li>
                    <% if agency_signed_in? && current_agency.website %>
                        <li class="hasdrop"><%= link_to 'Website', edit_website_path(current_agency.website), :class => "btn-website" %>
                            <ul class="dropdown">
                                <li><%= link_to '» Configurar Übersite', edit_website_path(current_agency.website) %></li>
                                <li><%= link_to '» Alterar Visualização', edit_website_path(current_agency.website)+"#themeView" %></li>
                                <li><%= link_to '» Customizar Domínio', edit_website_path(current_agency.website)+"#checkDomain" %></li>
								<li><%= link_to '» Conectar Sites', connect_sites_path, :class => "hasnewicon" %></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="hasdrop"><%= link_to 'Website', root_path, :class => "btn-website" %>
                            <ul class="dropdown">
                                <li><%= link_to '» Configurar Übersite', root_path %></li>
                                <li><%= link_to '» Alterar Visualização', root_path %></li>
                                <li><%= link_to '» Customizar Domínio', root_path %></li>
								<li><%= link_to '» Conectar Sites', root_path, :class => "hasnewicon" %></li>
                            </ul>
                        </li>
                    <% end %>
                </ul>
                
            </div>
            
            <div id="secundary-links">
                <% if agency_signed_in? %>
                    <ul id="secundary-links-list">
						<% if agency_signed_in? && current_agency.website %>
							<li class="agency-owner-name">Olá <%= current_agency.owner_name %>,</li> 
						<% else %>
							<li class="agency-owner-name">Olá usuário,</li> 
						<% end %>  					
						<li><%= link_to 'Minha Conta', edit_agency_registration_path %></li>
                        <li><%= link_to 'Sair »', destroy_agency_session_path %></li>
                    </ul>
                <% end %>
            </div>
            
        </div>

	</div>
	
	<div id="nav-block-push">&nbsp;</div>
	
	<div id="alert-msgs">
		<% flash.each do |name, msg| %>
		    <div class="<%= flash_css_class(name) %>">
		    	<a class="close" data-dismiss="alert">×</a>
		    	<%= msg %>
		    </div>
		<% end %>
	</div>
	
	<div id="simple-modal-msgs">
		<h3 id="simple-modal-msg-title" class="header-base-title-text">Minha <strong>Mensagem</strong></h3>
		<a id="simple-modal-msg-close" href="#" class="auto-size-block">Fechar x</a>
		<p id="simple-modal-msg-content">Mensagem</p>
	</div>
	
	<%= yield %>
	
	<div id="footer-container">
    	
        <div id="footer-wrapper">
        
            <div id="footer-left-column" class="footer-column">
                <h5 id="footer-title-uber">Über</h5>
                <ul class="footer-link-list">
                    <li><%= link_to 'Modelos »', models_path %></li>
                    <li><%= link_to 'Castings »', castings_path %></li>
                    <li><%= link_to 'Clientes »', agency_customers_path %></li>
					<% if agency_signed_in? && current_agency.website %>
						<li><%= link_to 'Übersite »', edit_website_path(current_agency.website) %></li>
					<% end %>
                </ul>
            </div>
            
            <div id="footer-middle-column" class="footer-column">
                <h5 id="footer-title-contato">Contato</h5>
                <ul class="footer-link-list">
					<li><%= link_to 'F.A.Q. »', help_path, :target => "_blank" %></li>
                    <li><a href="#" title="Facebook">Facebook &raquo;</a></li>
					<li><%= link_to 'Termos de Uso »', contract_path, :target => "_blank" %></li>   
					<li><%= link_to 'Política de Privacidade »', policy_path, :target => "_blank" %></li>
                </ul>
            </div>
            
            <div id="footer-right-column" class="footer-column no-margin">
                <h5 id="footer-title-faleconosco">Fale Conosco, e nos diga como podemos ajudar:</h5>
                <p>Envie uma mensagem para nós, e iremos responder o mais rápido possível.</p>
                <ul class="footer-link-list">
                    <li><a href="mailto:contato@ubercasting.com.br?subject=[UBER] - Contato" title="contato@ubercasting.com.br">Enviar e-mail para: <strong>Contato</strong></a></li>
                    <li><a href="mailto:suporte@ubercasting.com.br?subject=[UBER] - Suporte" title="suporte@ubercasting.com.br">Enviar e-mail para: <strong>Suporte</strong></a></li>
                </ul>
            </div>
            
            <div class="content-split"></div>
            
            <p class="footer-signature">2013 &copy; Über Casting - Todos os Direitos Reservados</p>
            
        </div>
        
    </div>
	
</div>


</body>
</html>
