<!DOCTYPE html>
<html>
<head>
  <title>ÜBER - Casting Made Easy</title>
  <%= favicon_link_tag %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

	<%= stylesheet_link_tag    "main_pages" %>
	<%= javascript_include_tag "main_pages" %>
	<%= csrf_meta_tags %>
 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div id="container">
	
	<div id="nav-container">
    	
        <div id="nav-wrapper">
            
            <div id="primary-links">
                
                <ul id="primary-links-list">
                    <li><h1 class="nav-logo"><%= link_to 'ÜBER', root_path  %></h1></li>
                    <li><%= link_to 'Quem Somos', who_we_are_path, :class => "btn-quemsomos"  %></li>
                    <li><%= link_to 'Tour', tour_path, :class => "btn-tour" %></li>
                    <li><%= link_to 'Depoimentos', viewtestimonials_path, :class => "btn-depoimentos" %></li>
					<li class="no-bar"><%= link_to 'Planos', new_agency_registration_path, :class => "btn-planos" %></li>
                </ul>
                
            </div>
            
            <div id="secundary-links">
                
                <ul id="secundary-links-list">
                    <li class="login-container"><%= link_to 'Login', agency_session_path, :class => "btn-login" %></li>
                </ul>
                
            </div>
            
        </div>
        
        <div id="login-panel">
                            
            <div id="mail-field" class="login-panel-field">
                <label>E-mail</label>
                <input type="text" id="input-mail" value="Digite aqui seu e-mail..." />
            </div>
            
            <div id="pass-field" class="login-panel-field">
                <label>Senha</label>
                <input type="password" id="input-pass" value="Digite aqui a sua senha..." />
            </div>
            
            <div class="content-split">&nbsp;</div>
            
            <div id="login-panel-links">
                <ul>
                    <li><a href="#" title="Esqueceu sua senha?">Esqueceu sua senha?</a></li>
                    <li><a href="#" class="account-link" title="Criar Conta">Criar Conta</a></li>
                </ul>
            </div>
            
            <div id="login-panel-submit">
                <input type="button" value="ENTRAR" id="btn-entrar" />
            </div>
            
        </div>
        
   	</div>
    
    <div id="nav-block-push">&nbsp;</div>

	<div id="alert-msgs">
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    	<a class="close" data-dismiss="alert">×</a>
		    	<%= msg %>
		    </div>
		<% end %>
	</div>

	<%= yield %>
	
	<div id="footer-container">
    	
        <div id="footer-wrapper">
        
            <div id="footer-left-column" class="footer-column">
                <h5 id="footer-title-uber">Über</h5>
                <ul class="footer-link-list">
                    <li><%= link_to 'Quem Somos', who_we_are_path %></li>
                    <li><%= link_to 'Tour', tour_path %></li>
                    <li><%= link_to 'Depoimentos', viewtestimonials_path %></li>
					<li><%= link_to 'Planos', new_agency_registration_path, :class => "gold-link" %></li>
                </ul>
            </div>
            
            <div id="footer-middle-column" class="footer-column">
                <h5 id="footer-title-contato">Contato</h5>
                <ul class="footer-link-list">
                    <li><%= link_to 'F.A.Q. »', help_path %></li>
                    <li><a href="#" title="Facebook">Facebook &raquo;</a></li>
					<li><%= link_to 'Termos de Uso »', contract_path %></li>   
					<li><%= link_to 'Política de Privacidade »', policy_path %></li>
                </ul>
            </div>
            
            <div id="footer-right-column" class="footer-column no-margin">
                <h5 id="footer-title-faleconosco">Fale Conosco, e nos diga como podemos ajudar:</h5>
                <p>Envie uma mensagem para nós, e iremos responder o mais rápido possível.</p>
                <ul class="footer-link-list">
                    <li><a href="mailto:contato@ubercasting.com.br?subject=[UBER] - Contato Home" title="contato@ubercasting.com.br">Enviar e-mail para: <strong>Contato</strong></a></li>
                    <li><a href="mailto:contato@ubercasting.com.br?subject=[UBER] - Suporte Home" title="suporte@ubercasting.com.br">Enviar e-mail para: <strong>Suporte</strong></a></li>
                </ul>
            </div>
            
            <div class="content-split"></div>
            
            <p class="footer-signature">2013 &copy; Über Casting - Todos os Direitos Reservados</p>
            
        </div>
        
    </div>
	
</div>

</body>
</html>
